/*** ESSENTIAL STYLES ***/
#container {
    width: 100%;
    display: table;
}

.sf-menu, .sf-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu {
    position: relative;
    line-height: 1.0;
    display: table-row;
}

.sf-menu > li {display: table-cell;}


.sf-menu ul {
    position: absolute;
    top: -999em;
    width: 10em; /* left offset of submenus need to match (see below) */
    border
}


.sf-menu ul li {
    width: 100%;
}

.sf-menu li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu ul li {
    float: left;
    position: relative;
}
.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    position: absolute;
    top: auto; /* match top ul list item height */
    z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left: 10em; /* match ul width */
    top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left: 10em; /* match ul width */
    top: 0;
}

/*** DEMO SKIN ***/
.sf-menu {
    /*float: left;*/
    margin-bottom:    1em;
}
.sf-menu a {
    padding: .75em 1em;
    text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    color: #13467D;
}

.sf-menu ul > li:hover, .sf-menu ul > li.sfHover, {
    background: #fff;
    outline: 0;
    color:#13467D;
}

.sf-menu a{
  color:#13467D;
}
.sf-menu > li li a{ font-size: 1em; font-weight: normal}
.sf-menu > li > a:focus, .sf-menu > li > a:hover, .sf-menu > li > a:active {
    outline: 0;
    color:#fff;
}

.sf-menu > li li a:focus, .sf-menu > li li a:hover, .sf-menu > li li  a:active {
    outline: 0;
    color:#ee8e1d;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
    padding-right: 2.25em;
    min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}


.sf-menu ul{
  background: #fff; 
  border-color: #f3901d; 
  border-width: 2px; 
  border-style: none solid solid;
  border-width: 0px 2px 2px 2px;
}
.sf-menu ul li {
  border-bottom: 1px solid #13467D; 
}  
.sf-menu ul li.last {
  border-bottom: none; 
}   
.sf-menu ul ul{
  background: #fff; 
  border-color: #f3901d; 
  border-width: 2px; 
  border-style: solid solid solid;
  border-width: 2px 2px 2px 2px;
}
/*
.sf-menu ul li.menuparent > a:after {
    content:"";
    position: absolute;
    right: 10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 0 7px 12.1px;
    border-color: transparent transparent transparent #013467;
}
*/

.sf-menu ul li.menuparent > a:after {
  content:"\003e";
  position: absolute;
  right: 10px;
}






