h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
color: #13467D;
text-decoration:none;
}
.content ul {
padding-left: 15px;
list-style: disc
}
.content ol {
padding-left: 15px;
list-style: decimal
}
.content strong {
font-weight: bold
}
.element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
	position: static !important;
	clip: auto;
	overflow: visible;
	height: auto;
	padding: 0 1em;
}
.donate-label-wrapper .donate-input-wrapper input[type=number] {
  background: white;
  width: 53px;
  font-size: 1.2em;
  padding: 6px 0 6px 1px !important;
}
.carousel-container img{
  line-height: 1;
  width: 100%;
  height: auto;
}
.carousel-container ul {
  list-style: none;
  padding-left: 0
}
.carousel-pagination {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* line 351, ../sass/screen.scss */
.carousel-pagination a {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url(../images/buttons/carousel-pagination.png) 0 -30px no-repeat;
  margin: 0 7px;
}

/* line 358, ../sass/screen.scss */
.carousel-pagination a:hover,
.carousel-pagination a.selected {
  background-position: 0 0;
}
/** forms **/
input[type=submit].green-button{
 color: white;
 display: block;
 font-size: 1.17em;
 font-weight: bold;
 margin-right: 8px;
 padding: 20px 28px 18px 24px;
 text-decoration: none;
 text-transform: uppercase;
 border: none;
 margin: 0;
 background: #5EB657;
 background: url(../images/buttons/donate.png) no-repeat scroll right center #5EB657;
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -moz-linear-gradient(top, #5EB657 30%, #5EB657 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -o-linear-gradient(top, #5EB657 30%, #5EB657 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #5EB657), color-stop(100%, #5EB657));
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-linear-gradient(top, #5EB657 30%, #5EB657 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, linear-gradient(top, #5EB657 30%, #5EB657 100%); 
 border-radius: 10px 10px 10px 10px;
 display: inline-block;
 overflow: hidden;
 position: relative;
}

 input[type=submit].pink-button{
 color: white;
 display: block;
 font-size: 1.17em;
 font-weight: bold;
 margin-right: 8px;
 padding: 20px 28px 18px 24px;
 text-decoration: none;
 text-transform: uppercase;
 border: none;
 margin: 0;
 background: #ff5572;
 background: url(../images/buttons/donate.png) no-repeat scroll right center #ff5572; 
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -moz-linear-gradient(top, #ff5572 30%, #ff5572 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -o-linear-gradient(top, #ff5572 30%, #ff5572 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #ff5572), color-stop(100%, #ff5572));
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-linear-gradient(top, #ff5572 30%, #ff5572 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, linear-gradient(top, #ff5572 30%, #ff5572 100%); 
 border-radius: 10px 10px 10px 10px;
 display: inline-block;
 overflow: hidden;
 position: relative;
}

input[type=submit].red-button{
 color: white;
 display: block;
 font-size: 1.17em;
 font-weight: bold;
 margin-right: 8px;
 padding: 20px 28px 18px 24px;
 text-decoration: none;
 text-transform: uppercase;
 border: none;
 margin: 0;
 background: #c41230;
 background: url(../images/buttons/donate.png) no-repeat scroll right center #c41230;
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -moz-linear-gradient(top, #c41230 30%, #c41230 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -o-linear-gradient(top, #c41230 30%, #c41230 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #c41230), color-stop(100%, #c41230));
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-linear-gradient(top, #c41230 30%, #c41230 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, linear-gradient(top, #c41230 30%, #c41230 100%); 
 border-radius: 10px 10px 10px 10px;
 display: inline-block;
 overflow: hidden;
 position: relative;
}

input[type=submit].blue-button,
.mailchimp-lists-user-subscribe-form input[type=submit] {
 color: white;
 display: block;
 font-size: 1.17em;
 font-weight: bold;
 margin-right: 8px;
 padding: 20px 28px 18px 24px;
 text-decoration: none;
 text-transform: uppercase;
 border: none;
 margin: 0;
 background: #00457c;
 background: url(../images/buttons/donate.png) no-repeat scroll right center #00457c;
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -moz-linear-gradient(top, #00457c 30%, #00457c 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -o-linear-gradient(top, #00457c 30%, #00457c 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #00457c), color-stop(100%, #00457c));
 background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-linear-gradient(top, #00457c 30%, #00457c 100%);
 background: url(../images/buttons/donate.png) no-repeat scroll right center, linear-gradient(top, #00457c 30%, #00457c 100%); 
 border-radius: 10px 10px 10px 10px;
 display: inline-block;
 overflow: hidden;
 position: relative;
}
.donation-grid input[type=submit]:after {
    position: absolute; /* Prevent underline of arrow */
    padding-left:2px; /* Add a little space between text and arrow */
    content: "\00bb"; /* Unicode hex for &raquo; */
}
.mailchimp-lists-user-subscribe-form input[type=submit]{
 padding: 5px 28px 4px 15px;
}
.mailchimp-lists-user-subscribe-form label{height: 0; left: 0; overflow: hidden; position: absolute; top: 0; width: 0;}
.mailchimp-lists-user-subscribe-form input[type="text"]{background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 1em;
    padding: 6px 0 6px 12px;
    position: relative;}
    
.mailchimp-lists-user-subscribe-form .form-type-textfield {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CECECE;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    float: left;}

/** menus **/
.user-menu ul{
float: right;
}

/************************************************************************************
HEADER NAVIGATION
*************************************************************************************/

    
footer nav > ul:after {
    content: "";
    display: inline-block;
    width: 100%;
}
footer nav ul {
    display: block;
    font-size: 1em;
    text-align: justify;
    width: 100%;  
}

li .hover .nav-sub ul li a{
background:none;
}
li .hover .nav-sub ul li a:hover{
background:#444;
}

li .nav-sub ul li li a{
padding:2px 30px;
}

.navigation{
margin-top: 120px;
}
.user-menu ul li {
float: left;
border-right: 1px solid #323232;
display: inline;
white-space: nowrap;
margin-right: 10px; 
padding-right: 10px
}

.user-menu ul li.last {
border-right: none;
margin-right: 0; 
padding-right:0;
}

#header-aux-social .addthis_button_facebook at300b span {
    background: url("../images/header/icon-facebook.png") no-repeat scroll left top transparent;
}

#header-aux-social .addthis_button_twitter at300bspan {
    background: url("../images/header/icon-twitter.png") no-repeat scroll left top transparent;
    width: 42px;
}

/* footer */
#news p{
  margin:0;
}
#subscribe .h-style{padding-top: 7px;}
.h-style, .h-style a {
  color: #13467d;
  text-decoration: none;
  font-weight: bold;
}
.common-more a {
  color: #ee8e1d;
  font-weight: bold;
  text-decoration: none;
}
/* line 93, ../sass/screen.scss */
.common-more a:before {
  content: "\00BB  ";
}
/* line 96, ../sass/screen.scss */
.common-more a:hover {
  color: #13467d;
}

@media screen and (max-width: 767px) {
  .carousel-container {
    width: 280px !important;
    /*height: 136px !important;
    overflow: hidden;*/
  }

  /* line 801, ../sass/screen.scss */
  .carousel-container ul li {
    width: 280px !important;
    /*height: 136px !important;*/
  }

}
@media screen and (min-width: 768px)  {
  .carousel-container {
    width: 980px !important;
    /*height:136px !important;*/
    overflow: hidden;
  }

  /* line 943, ../sass/screen.scss */
  .carousel-container ul li {
    width: 980px !important;
    /*height:136px !important;*/
    overflow: hidden;
  }

  /* line 947, ../sass/screen.scss */
  .carousel-container ul li img {
    /*margin-left:-113px;*/
  }

}