/*@import "compass/reset";*/
/* line 14, ../sass/recaptcha.scss */
.recaptcha_widget {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 300px;
  border: 4px solid #af1500;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #af1500;
  margin: 0 0 10px;
}

/* line 24, ../sass/recaptcha.scss */
#recaptcha_image {
  width: 100% !important;
  height: auto !important;
}
/* line 28, ../sass/recaptcha.scss */
#recaptcha_image img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 3px solid #FFF;
}

/* line 39, ../sass/recaptcha.scss */
.recaptcha_is_showing_audio embed {
  height: 0;
  width: 0;
  overflow: hidden;
}
/* line 45, ../sass/recaptcha.scss */
.recaptcha_is_showing_audio #recaptcha_image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 3px solid #FFF;
}
/* line 53, ../sass/recaptcha.scss */
.recaptcha_is_showing_audio #recaptcha_image br {
  display: none;
}
/* line 57, ../sass/recaptcha.scss */
.recaptcha_is_showing_audio #recaptcha_image #recaptcha_audio_download {
  display: block;
}

/* line 64, ../sass/recaptcha.scss */
.recaptcha_input {
  background: #ffdc73;
  color: #000;
  font: 13px/1.5 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  margin: 4px 0 0;
  padding: 0 4px 4px;
  border: 4px solid #ffdc73;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 73, ../sass/recaptcha.scss */
.recaptcha_input label {
  margin: 0 0 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 78, ../sass/recaptcha.scss */
.recaptcha_input input {
  width: 100%;
}

/* line 83, ../sass/recaptcha.scss */
#recaptcha_response_field {
  background: #FFF;
  border: 1px solid #000000;
  width: 96%;
}

/* line 90, ../sass/recaptcha.scss */
.recaptcha_options {
  list-style: none;
  margin: 4px 0 0;
  height: 18px;
}
/* line 95, ../sass/recaptcha.scss */
.recaptcha_options li {
  float: left;
  margin: 0 4px 0 0;
}
/* line 99, ../sass/recaptcha.scss */
.recaptcha_options li a {
  text-decoration: none;
  text-shadow: 0 1px 1px black;
  font-size: 16px;
  color: white;
  display: block;
  width: 20px;
  height: 18px;
}
/* line 108, ../sass/recaptcha.scss */
.recaptcha_options li a:active {
  position: relative;
  top: 1px;
  text-shadow: none;
}

/* line 118, ../sass/recaptcha.scss */
.captcha_hide {
  display: none;
}
