/* line 17, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
/* line 9, ../sass/screen.scss */
html {
  min-height: 100%;
}

/* line 12, ../sass/screen.scss */
body {
  background: white;
  font-size: 12px;
  font-family: Arial, Helvectica, sans-serif;
  color: #323232;
  line-height: 1;
}

/* line 20, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #13467d;
  font-weight: bold;
  margin: 10px 0 10px 0;
  display: block;
  line-height: 1.2;
}

/* line 27, ../sass/screen.scss */
h1 {
  font-size: 1.83em;
}

/* line 31, ../sass/screen.scss */
h1.h-large,
h2.h-large {
  font-size: 2.16em;
}

/* line 34, ../sass/screen.scss */
h2 {
  font-size: 1.66em;
}

/* line 37, ../sass/screen.scss */
h3 {
  font-size: 1.5em;
}

/* line 40, ../sass/screen.scss */
h4 {
  font-size: 1.33em;
}

/* line 43, ../sass/screen.scss */
.no-top-margin {
  margin-top: 0 !important;
}

/* line 46, ../sass/screen.scss */
.h-style {
  color: #13467d;
  font-weight: bold;
}

/* line 50, ../sass/screen.scss */
p {
  margin: 10px 0;
  line-height: 1.4;
}

/* line 54, ../sass/screen.scss */
li {
  line-height: 1.4;
}

/* line 57, ../sass/screen.scss */
b {
  font-weight: bold;
}

/* line 60, ../sass/screen.scss */
.pml {
  font-size: 1.33em;
}

/* line 63, ../sass/screen.scss */
.pm {
  font-size: 1.16em;
}

/* line 67, ../sass/screen.scss */
.pms,
.image-caption {
  font-size: .95em;
}

/* line 70, ../sass/screen.scss */
.common-inner {
  background: white;
}

/* line 73, ../sass/screen.scss */
.common-inner.left-float {
  float: left;
}

/* line 74, ../sass/screen.scss */
.common-inner.left-float-100 {
  float: left;
  width: 100%;
}

/* line 75, ../sass/screen.scss */
.common-image {
  line-height: 0;
  width: 100%;
  height: auto;
}

/* line 79, ../sass/screen.scss */
.common-image img {
  width: 100%;
  height: auto;
}

/* line 82, ../sass/screen.scss */
img.in-text-image {
  line-height: 0;
  float: right;
  width: 50%;
  height: auto;
  padding: 0 0 10px 20px;
}

/* line 88, ../sass/screen.scss */
a.common-more {
  color: #ee8e1d;
  font-weight: bold;
  text-decoration: none;
}

/* line 93, ../sass/screen.scss */
a.common-more:before {
  content: "\00BB  ";
}

/* line 96, ../sass/screen.scss */
a.common-more:hover {
  color: #13467d;
}

/* line 99, ../sass/screen.scss */
.hr-style {
  border: 0;
  width: 100%;
  display: inline-block;
  height: 3px;
  background: #f2f6f8;
}

/* line 103, ../sass/screen.scss */
.hr-style.top-20 {
  margin-top: 20px;
}

/* line 104, ../sass/screen.scss */
.hr-style.margin-10 {
  margin: 10px 0;
}

/* line 105, ../sass/screen.scss */
.hr-style.block {
  display: block;
}

/*.marg-10-box{
    float:left;
    margin:0 0 0 10px;
}*/
/************************************************************************************
STRUCTURE
*************************************************************************************/
/* line 116, ../sass/screen.scss */
.breaker-10 {
  height: 10px;
}

/* line 117, ../sass/screen.scss */
.breaker-20 {
  height: 20px;
}

/* line 118, ../sass/screen.scss */
.breaker-30 {
  height: 30px;
}

/* line 119, ../sass/screen.scss */
.breaker-100 {
  height: 100px;
}

/* line 120, ../sass/screen.scss */
.right-align {
  text-align: right;
}

/* line 121, ../sass/screen.scss */
.left-align {
  text-align: left;
}

/* line 122, ../sass/screen.scss */
.pad-10-wrapper {
  padding: 10px;
}

/* line 125, ../sass/screen.scss */
.pad-10-wrapper-horizontal {
  padding: 0 10px;
}

/* line 128, ../sass/screen.scss */
.pad-10-wrapper-vertical {
  padding: 10px 0;
}

/* line 131, ../sass/screen.scss */
.no-left-padding {
  padding-left: 0 !important;
}

/* line 132, ../sass/screen.scss */
.no-right-padding {
  padding-right: 0 !important;
}

/************************************************************************************
HEADER
*************************************************************************************/
/* line 136, ../sass/screen.scss */
header {
  background: white url(../images/header/background.png) repeat-x left bottom;
}

/* line 140, ../sass/screen.scss */
#header-logo h1 {
  margin: 0;
  padding: 0;
  line-height: 0;
}

/* line 141, ../sass/screen.scss */
#header-logo a {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 175px;
  height: 84px;
  background: url(../images/header/logo-peter-mac.png) no-repeat top left;
  margin: 12px 0 6px 10px;
}

/* line 150, ../sass/screen.scss */
#header-aux-links {
  margin-top: 15px;
  margin-bottom: 21px;
  text-align: right;
}

/* line 155, ../sass/screen.scss */
#header-aux-links a {
  color: #ee8e1d;
  font-weight: bold;
  display: inline-block;
  margin: 0 4px;
  text-decoration: none;
}

/* line 158, ../sass/screen.scss */
#header-aux-links a:hover {
  color: #13467d;
}

/* line 167, ../sass/screen.scss */
#header-aux-social a {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 13px;
}

/* line 172, ../sass/screen.scss */
#header-aux-social .facebook {
  background: url(../images/header/icon-facebook.png) no-repeat top left;
}

/* line 175, ../sass/screen.scss */
#header-aux-social .twitter {
  background: url(../images/header/icon-twitter.png) no-repeat top left;
  width: 42px;
}

/* line 179, ../sass/screen.scss */
#header-aux-social .share {
  background: url(../images/header/icon-share.png) no-repeat top left;
}

/************************************************************************************
HEADER NAVIGATION
*************************************************************************************/
/* line 188, ../sass/screen.scss */
header nav {
  margin: 24px 10px 0 10px;
  background: #ee8e1d url(../images/header/background.png) repeat-x left -16px;
}

/* line 192, ../sass/screen.scss */
header nav.donate-nav {
  width: 40%;
}

/* line 195, ../sass/screen.scss */
header nav ul {
  text-align: justify;
  font-size: 1.16em;
}

/* line 199, ../sass/screen.scss */
header nav ul li {
  display: inline;
  white-space: nowrap;
}

/* line 203, ../sass/screen.scss */
header nav ul li.spanner {
  display: inline-block !important;
  width: 100% !important;
}

/* line 207, ../sass/screen.scss */
header nav ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #13467d;
  text-decoration: none;
  text-align: center !important;
  display: inline-block;
}

/* line 216, ../sass/screen.scss */
header nav ul li a:hover,
header nav ul li.current_page_item a {
  color: white;
}

/************************************************************************************
MAIN 
*************************************************************************************/
/* line 223, ../sass/screen.scss */
#main {
  background: #fdf6ec url(../images/header/main-shadow.png) repeat-x top left;
  padding-top: 20px;
}

/************************************************************************************
BREADCRUMBS 
*************************************************************************************/
/* line 230, ../sass/screen.scss */
#breadcrumbs {
  font-size: .95em;
  margin-top: -6px;
  margin-bottom: 10px;
  /*padding-left:$gutter-half * 2;*/
  color: black;
}

/* line 237, ../sass/screen.scss */
#breadcrumbs a {
  color: black;
  text-decoration: none;
}

/* line 241, ../sass/screen.scss */
#breadcrumbs a:hover {
  text-decoration: underline;
}

/************************************************************************************
FOOTER
*************************************************************************************/
/* line 247, ../sass/screen.scss */
footer {
  background: #e4edf4;
}

/* line 252, ../sass/screen.scss */
#subscribe div.h-style,
#subscribe div.mailchimp-newsletter-wrapper,
#subscribe button {
  float: left;
  margin-right: 10px;
  display: inline-block;
}

/* line 257, ../sass/screen.scss */
#subscribe form .h-style {
  padding-top: 7px;
}

/* line 262, ../sass/screen.scss */
#news ul li {
  margin-bottom: 10px;
}

/* line 263, ../sass/screen.scss */
#news ul li span {
  display: block;
  line-height: 1.5;
}

/* line 267, ../sass/screen.scss */
#sub-footer {
  background: white;
  color: black;
  font-size: .85em;
  text-align: center;
  padding: 18px 0;
}

/************************************************************************************
FOOTER NAVIGATION
*************************************************************************************/
/* line 277, ../sass/screen.scss */
footer nav {
  margin: 5px 10px 15px;
}

/* line 280, ../sass/screen.scss */
footer nav ul {
  text-align: justify;
  font-size: .95em;
}

/* line 284, ../sass/screen.scss */
footer nav ul li {
  display: inline-block;
  white-space: nowrap;
  text-align: left !important;
}

/* line 289, ../sass/screen.scss */
footer nav ul li ul {
  /*float:left;*/
}

/* line 292, ../sass/screen.scss */
footer nav ul li ul li {
  float: left;
  display: block;
  clear: both;
  margin-top: 4px;
}

/* line 298, ../sass/screen.scss */
footer nav ul li.spanner {
  display: inline-block !important;
  width: 100% !important;
}

/* line 302, ../sass/screen.scss */
footer nav ul li a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: inline-block;
}

/* line 308, ../sass/screen.scss */
footer nav ul li ul li a {
  font-weight: normal;
}

/* line 312, ../sass/screen.scss */
footer nav ul li a:hover,
footer nav ul li.current_page_item a {
  color: #ee8e1d;
}

/* line 315, ../sass/screen.scss */
footer .hr-style {
  border: 0;
  width: 100%;
  display: inline-block;
  height: 3px;
  height: 4px;
  background: #D9E6EF;
}

/************************************************************************************
CAROUSEL
*************************************************************************************/
/* line 323, ../sass/screen.scss */
#carousel-container {
  width: 617px;
  height: 300px;
  overflow: hidden;
}

/* line 327, ../sass/screen.scss */
#carousel-container ul li {
  display: inline;
  width: 617px;
  height: 300px;
  float: left;
}

/* line 332, ../sass/screen.scss */
#carousel-container img {
  line-height: 1;
  width: 100%;
  height: auto;
}

/* line 336, ../sass/screen.scss */
#carousel-support {
  position: relative;
  background: white;
  margin-left: -10px;
  height: 300px;
}

/* line 342, ../sass/screen.scss */
#carousel-support .common-inner {
  padding: 10px 10px 0 10px;
}

/* line 345, ../sass/screen.scss */
#carousel-pagination {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* line 351, ../sass/screen.scss */
#carousel-pagination a {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url(../images/buttons/carousel-pagination.png) 0 -30px no-repeat;
  margin: 0 7px;
}

/* line 358, ../sass/screen.scss */
#carousel-pagination a:hover,
#carousel-pagination a.selected {
  background-position: 0 0;
}

/************************************************************************************
BUTTONS
*************************************************************************************/
/* line 364, ../sass/screen.scss */
.button-wrapper-green {
  display: inline-block;
  background-repeat: repeat-x;
  background-position: top left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #5eb657;
  background-image: url(../images/buttons/background-green.png);
  text-transform: uppercase;
  font-weight: bold;
}
/* line 25, ../sass/_base.scss */
.button-wrapper-green a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 28px 7px 24px;
  margin-right: 8px;
  font-size: 1.16em;
  font-weight: bold;
  background: url(../images/buttons/right-arrow.png) no-repeat scroll right center transparent;
}
/* line 35, ../sass/_base.scss */
.button-wrapper-green .btn-text {
  display: block;
  color: white;
  text-decoration: none;
  padding: 6px 28px 6px 24px;
  margin-right: 8px;
  font-size: 1.16em;
  font-weight: bold;
  background: url(../images/buttons/right-arrow.png) no-repeat scroll right center transparent;
}

/* line 371, ../sass/screen.scss */
.button-wrapper-blue {
  display: inline-block;
  background-repeat: repeat-x;
  background-position: top left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #295c85;
  background-image: url(../images/buttons/background-blue.png);
}
/* line 25, ../sass/_base.scss */
.button-wrapper-blue a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 28px 7px 24px;
  margin-right: 8px;
  font-size: 1.16em;
  font-weight: bold;
  background: url(../images/buttons/right-arrow.png) no-repeat scroll right center transparent;
}
/* line 35, ../sass/_base.scss */
.button-wrapper-blue .btn-text {
  display: block;
  color: white;
  text-decoration: none;
  padding: 6px 28px 6px 24px;
  margin-right: 8px;
  font-size: 1.16em;
  font-weight: bold;
  background: url(../images/buttons/right-arrow.png) no-repeat scroll right center transparent;
}

/* line 376, ../sass/screen.scss */
.large {
  padding: 12px 12px 12px 12px;
}

/* line 379, ../sass/screen.scss */
.set-width {
  width: 250px;
}

/* line 383, ../sass/screen.scss */
.large.facebook,
.large.twitter {
  padding-bottom: 4px !important;
}

/* line 386, ../sass/screen.scss */
.large a {
  padding-left: 0px !important;
  padding-right: 8px !important;
  min-width: 200px;
  font-weight: bold !important;
  padding-left: 0 !important;
}

/* line 393, ../sass/screen.scss */
.button-wrapper-green.large {
  display: inline-block;
  background-repeat: repeat-x;
  background-position: top left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/buttons/background-green-large.png);
}
/* line 25, ../sass/_base.scss */
.button-wrapper-green.large a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 28px 7px 24px;
  margin-right: 8px;
  font-size: 1.16em;
  font-weight: bold;
  background: url(../images/buttons/right-arrow.png) no-repeat scroll right center transparent;
}
/* line 35, ../sass/_base.scss */
.button-wrapper-green.large .btn-text {
  display: block;
  color: white;
  text-decoration: none;
  padding: 6px 28px 6px 24px;
  margin-right: 8px;
  font-size: 1.16em;
  font-weight: bold;
  background: url(../images/buttons/right-arrow.png) no-repeat scroll right center transparent;
}

/* line 397, ../sass/screen.scss */
.button-wrapper-blue.large {
  display: inline-block;
  background-repeat: repeat-x;
  background-position: top left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/buttons/background-blue-large.png);
}
/* line 25, ../sass/_base.scss */
.button-wrapper-blue.large a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 28px 7px 24px;
  margin-right: 8px;
  font-size: 1.16em;
  font-weight: bold;
  background: url(../images/buttons/right-arrow.png) no-repeat scroll right center transparent;
}
/* line 35, ../sass/_base.scss */
.button-wrapper-blue.large .btn-text {
  display: block;
  color: white;
  text-decoration: none;
  padding: 6px 28px 6px 24px;
  margin-right: 8px;
  font-size: 1.16em;
  font-weight: bold;
  background: url(../images/buttons/right-arrow.png) no-repeat scroll right center transparent;
}

/* line 401, ../sass/screen.scss */
.button-wrapper-blue.large a {
  background-position: right 7px;
}

/* line 404, ../sass/screen.scss */
.button-wrapper-blue a .icon {
  display: inline-block;
  width: 44px;
  height: 34px;
  margin: -10px 8px 0 0;
  vertical-align: text-top;
}

/* line 411, ../sass/screen.scss */
.button-wrapper-blue.facebook a,
.button-wrapper-blue.twitter a {
  padding-top: 7px !important;
  padding-bottom: 6px !important;
}

/* line 415, ../sass/screen.scss */
.button-wrapper-blue.facebook a .icon {
  background: url(../images/buttons/background-facebook.png) no-repeat left center;
}

/* line 418, ../sass/screen.scss */
.button-wrapper-blue.twitter a .icon {
  background: url(../images/buttons/background-twitter.png) no-repeat left center;
}

/* line 421, ../sass/screen.scss */
.button-wrapper-green.donation span {
  /* <-- used in the donation form ----------*/
  padding-left: 0px !important;
}

/************************************************************************************
THREE COLOUR STRIP
*************************************************************************************/
/* line 427, ../sass/screen.scss */
.three-color-strip {
  position: relative;
  width: 100%;
  float: left;
}

/* line 432, ../sass/screen.scss */
.three-color-strip .left {
  float: left;
  width: 50%;
  height: 7px;
  background: #13467d;
}

/* line 437, ../sass/screen.scss */
.three-color-strip .right {
  float: left;
  width: 50%;
  height: 7px;
  background: #c11f2e;
}

/* line 442, ../sass/screen.scss */
.three-color-strip .center {
  position: absolute;
  left: 50%;
  top: 0;
  width: 33.33%;
  height: 7px;
  margin-left: -16.66%;
  background: #ee8e1d;
}

/************************************************************************************
FORM GENERAL
*************************************************************************************/
/* line 452, ../sass/screen.scss */
.no-show-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

/*.input[type=submit]*/
/* line 459, ../sass/screen.scss */
.input-wrapper {
  border: 1px solid #CECECE;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  background: white;
  display: inline-block;
  float: left;
}

/* line 467, ../sass/screen.scss */
input[type=text] {
  border: none 0;
  background: transparent;
  position: relative;
  padding: 6px 0 6px 12px;
  font-size: 1em;
}

/* line 474, ../sass/screen.scss */
button {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  padding: 0;
}

/* line 482, ../sass/screen.scss */
button.no-show-text {
  text-indent: 150%;
  overflow: hidden;
}

/* line 486, ../sass/screen.scss */
button .button-wrapper-blue span {
  display: block !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* line 491, ../sass/screen.scss */
button .button-wrapper-green span {
  display: block !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/************************************************************************************
SEARCH WRAPPER
*************************************************************************************/
/* line 499, ../sass/screen.scss */
.search-wrapper {
  position: relative;
  width: 100%;
  border: 1px solid #CECECE;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  background: white;
}

/* line 507, ../sass/screen.scss */
.search-input {
  border: none 0;
  background: white;
  position: relative;
  padding: 6px 0 7px 12px !important;
  width: 98%;
}

/* line 514, ../sass/screen.scss */
.search-submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.4em;
  height: 100%;
  /*2.2em*/
  min-width: 32px;
  text-indent: 150%;
  display: inline-block;
  background: #13467d url(../images/buttons/search-magnifying-glass.png) no-repeat center center;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/************************************************************************************
DONATE BUTTONS
*************************************************************************************/
/* line 529, ../sass/screen.scss */
.donate-label-wrapper {
  background: #13467d url(../images/buttons/background-donate-blue.png) repeat-x left top;
  width: 100%;
  min-height: 92px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* line 541, ../sass/screen.scss */
.donate-label-wrapper.selected {
  background: #ee8e1d url(../images/buttons/background-donate-orange.png) repeat-x left top;
}

/* line 544, ../sass/screen.scss */
.donate-label-wrapper input[type=radio] {
  display: block;
  float: left;
  margin: 39px 0 0 17px;
}

/* line 549, ../sass/screen.scss */
.donate-label-wrapper .donate-radio-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 2.13em;
  padding: 34px 0 0 34px;
  z-index: 1;
}

/* line 559, ../sass/screen.scss */
.donate-label-wrapper .donate-input-wrapper {
  position: absolute;
  top: 33px;
  left: 54px;
  z-index: 2;
}

/* line 564, ../sass/screen.scss */
.donate-label-wrapper .donate-input-wrapper input[type=text] {
  background: white;
  width: 53px;
  font-size: 1.2em;
  padding: 6px 0 6px 1px !important;
}

/************************************************************************************
DONATE FORM
*************************************************************************************/
/* line 576, ../sass/screen.scss */
.details-donation-form ul {
  display: block;
  width: 100%;
}

/* line 580, ../sass/screen.scss */
.details-donation-form li {
  margin-bottom: 10px;
}

/* line 583, ../sass/screen.scss */
.details-donation-form li.standard-text-input {
  display: block;
  float: left;
  clear: both;
  width: 90%;
}

/* line 589, ../sass/screen.scss */
.details-donation-form li.standard-text-input .col-a {
  display: inline-block;
  position: relative;
  width: 150px;
  margin-right: 10px;
}

/* line 595, ../sass/screen.scss */
.details-donation-form li.standard-text-input .col-b {
  display: inline-block;
  position: relative;
}

/* line 599, ../sass/screen.scss */
.details-donation-form li.standard-text-input .col-b input[type=text] {
  padding: 3px;
  border: 1px solid #323232;
  font-size: 1em;
  width: 230px;
}

/* line 605, ../sass/screen.scss */
.details-donation-form li.standard-text-input .col-b span {
  margin: 0 10px;
}

/* line 608, ../sass/screen.scss */
.details-donation-form li.standard-text-input .col-b input[type=text].short {
  width: 30px !important;
}

/* line 611, ../sass/screen.scss */
.details-donation-form li.standard-text-input .col-b select {
  padding: 3px;
  border: 1px solid #323232;
  font-size: 1em;
  min-width: 230px;
}

/* line 618, ../sass/screen.scss */
.details-donation-form li.inline-radio-input {
  display: inline-block;
  text-align: center;
  padding: 0 20px 0 10px;
  min-width: 38px;
}

/* line 624, ../sass/screen.scss */
.details-donation-form li.inline-radio-input input[type=radio] {
  display: block;
  margin: 0 auto 10px;
}

/* line 628, ../sass/screen.scss */
.details-donation-form li.inline-radio-input input[type=text] {
  display: inline-block;
  border: 1px solid #323232;
  margin-top: 19px;
  padding: 3px;
  width: 73px;
}

/* line 636, ../sass/screen.scss */
.details-donation-form li.standard-radio-input {
  margin-bottom: 10px;
  clear: both;
  display: table;
  float: left;
}

/* line 642, ../sass/screen.scss */
.details-donation-form li.standard-radio-input .col-a {
  display: table-cell;
  text-align: center;
  padding: 0 10px 0 10px;
  /* <-- to align with the first radio input of the inline form, may change */
}

/* line 647, ../sass/screen.scss */
.details-donation-form li.standard-radio-input .col-b {
  display: table-cell;
}

/* line 650, ../sass/screen.scss */
.details-donation-form li.standard-radio-input.with-text-field {
  margin-bottom: 10px;
  clear: both;
  display: inline-block;
  float: left;
}

/* line 657, ../sass/screen.scss */
.details-donation-form li.standard-radio-input.with-text-field .col-a {
  display: inline-block;
  width: 21px;
}

/* line 661, ../sass/screen.scss */
.details-donation-form li.standard-radio-input.with-text-field .col-b {
  display: inline-block;
}

/* line 664, ../sass/screen.scss */
.details-donation-form li.standard-radio-input.with-text-field .col-b textarea {
  background: white;
  position: relative;
  padding: 3px;
  border: 1px solid #323232;
  font-size: 1em;
  font-family: Arial, Helvectica, sans-serif;
  width: 350px;
  height: 60px;
}

/************************************************************************************
IMAGE LINKS
*************************************************************************************/
/* line 677, ../sass/screen.scss */
.fundraising {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  background: url(../images/logos/fundraising-standards-borad.png) left top no-repeat;
  width: 42px;
  height: 52px;
  margin-right: 10px;
}

/* line 678, ../sass/screen.scss */
.secured {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  background: url(../images/logos/secured-by-thawte.png) left top no-repeat;
  width: 56px;
  height: 52px;
}

/************************************************************************************
LISTS
*************************************************************************************/
/************************************************************************************
FEATURE SPECIFIC
*************************************************************************************/
/*html.touch .grid_item_title{ display:block !important; }*/
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width: 767px) {
  /************************************************************************************
  GENERAL STYLING
  *************************************************************************************/
  /* line 694, ../sass/screen.scss */
  h1 {
    font-size: 1.5em;
  }

  /* line 698, ../sass/screen.scss */
  h1.h-large,
  h2.h-large {
    font-size: 1.5em;
  }

  /* line 701, ../sass/screen.scss */
  h2 {
    font-size: 1.5em;
  }

  /* line 704, ../sass/screen.scss */
  .pml {
    font-size: 1em;
  }

  /* line 707, ../sass/screen.scss */
  .pm {
    font-size: 1em;
  }

  /* line 710, ../sass/screen.scss */
  .mobile-left-align {
    text-align: left !important;
  }

  /* line 713, ../sass/screen.scss */
  .mobile-breaker-10 {
    margin-bottom: 10px;
  }

  /* line 716, ../sass/screen.scss */
  .extra-outer-gutter > .common-inner {
    background: none !important;
  }

  /* line 719, ../sass/screen.scss */
  .extra-outer-gutter.mobile-reset-gutter > .common-inner {
    background: white !important;
  }

  /* line 722, ../sass/screen.scss */
  .extra-outer-gutter > .common-inner > .in-grid-item-wrapper {
    padding: 10px 10px 1px 10px !important;
  }

  /* line 725, ../sass/screen.scss */
  .mobile-pad-10-wrapper {
    padding: 10px !important;
  }

  /* line 728, ../sass/screen.scss */
  .mobile-pad-10-wrapper-horizontal {
    padding: 0 10px !important;
  }

  /* line 731, ../sass/screen.scss */
  .mobile-pad-10-wrapper-vertical {
    padding: 10px 0 !important;
  }

  /* line 734, ../sass/screen.scss */
  img.in-text-image {
    padding: 0 0 10px 0 !important;
    float: left !important;
    width: 100% !important;
  }

  /* line 739, ../sass/screen.scss */
  .center-on-mobile {
    text-align: center;
  }

  /************************************************************************************
  HEADER
  *************************************************************************************/
  /* line 745, ../sass/screen.scss */
  header {
   /* background: white url(../images/header/main-shadow.png) left 42px repeat-x !important;*/
   background: white  !important;
  }

  /* line 749, ../sass/screen.scss */
  #header-logo a {
    width: 110px !important;
    height: 53px !important;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  /* line 757, ../sass/screen.scss */
  #header-aux-links-mobile {
    margin: 15px 0 10px !important;
  }

  /* line 760, ../sass/screen.scss */
  #header-aux-links-mobile a {
    color: #ee8e1d;
    font-weight: bold;
    display: inline-block;
    margin: 0 4px;
    text-decoration: none;
  }

  /************************************************************************************
  HEADER NAVIGATION
  *************************************************************************************/
  /* line 766, ../sass/screen.scss */
  header nav {
    margin-bottom: 4px !important;
  }

  /* line 769, ../sass/screen.scss */
  header nav ul {
    font-size: 1em !important;
    font-weight: 1000;
  }

  /************************************************************************************
  FOOTER
  *************************************************************************************/
  /* line 776, ../sass/screen.scss */
  footer .cta-buttons {
    margin-top: 10px;
  }

  /* line 779, ../sass/screen.scss */
  #subscribe {
    display: inline-block;
  }

  /* line 782, ../sass/screen.scss */
  #subscribe form .h-style {
    clear: right;
    float: none;
    display: block !important;
    margin-bottom: 10px !important;
  }

  /************************************************************************************
  MAIN 
  *************************************************************************************/
  /* line 791, ../sass/screen.scss */
  #main {
    background: #fdf6ec !important;
  }

  /************************************************************************************
  CAROUSEL
  *************************************************************************************/
  /* line 797, ../sass/screen.scss */
  #carousel-container {
    width: 280px !important;
    height: 136px !important;
    overflow: hidden;
  }

  /* line 801, ../sass/screen.scss */
  #carousel-container ul li {
    width: 280px !important;
    height: 136px !important;
  }

  /* line 804, ../sass/screen.scss */
  #carousel-support {
    height: auto !important;
    margin: 0 !important;
    padding-right: -20px;
    background: none;
  }

  /* line 810, ../sass/screen.scss */
  #carousel-support .common-inner {
    background: white;
  }

  /* line 813, ../sass/screen.scss */
  #carousel-pagination {
    position: relative !important;
    bottom: none !important;
    margin: 10px 0 0 !important;
    padding: 10px 0 10px !important;
    background: white !important;
  }

  /************************************************************************************
  BUTTONS
  *************************************************************************************/
  /* line 823, ../sass/screen.scss */
  #header-aux-donate-mobile .button-wrapper-green a {
    font-size: 1em !important;
    padding-left: 18px !important;
    padding-right: 20px !important;
  }

  /* line 828, ../sass/screen.scss */
  .donation-grid .button-wrapper-green .btn-text {
    font-size: .85em !important;
  }

  /* line 831, ../sass/screen.scss */
  .details-donation-form .button-wrapper-green .btn-text {
    font-size: .85em !important;
  }

  /* line 834, ../sass/screen.scss */
  .details-donation-form .donation.large {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }

  /************************************************************************************
  MEAN MENU
  *************************************************************************************/
  /* line 841, ../sass/screen.scss */
  .mean-container .mean-bar {
    background: url(../images/header/background.png) left top repeat-x !important;
    min-height: 50px !important;
  }

  /* line 845, ../sass/screen.scss */
  .mean-container .mean-nav {
    /*margin-top:9px !important;*/
    margin-top: 0 !important;
    position: absolute !important;
    top: 49px !important;
    background: #f6aa52 url(../images/header/main-shadow.png) left top repeat-x !important;
  }

  /* line 852, ../sass/screen.scss */
  .mean-container .mean-nav ul {
    margin-top: 10px !important;
  }

  /* line 855, ../sass/screen.scss */
  .mean-container .mean-nav ul li a {
    font-weight: bold !important;
    padding-left: 20px !important;
    border: none !important;
    color: #13467d !important;
  }

  /* line 862, ../sass/screen.scss */
  .mean-container .mean-nav ul li a:hover,
  .mean-container .mean-nav ul li.current_page_item a {
    background: none !important;
    color: white !important;
  }

  /* line 866, ../sass/screen.scss */
  #mobile-search {
    width: 50% !important;
    margin: 10px 0 0 16px !important;
  }

  /* line 870, ../sass/screen.scss */
  #mobile-search .search-input {
    padding: 5px 0 6px 12px !important;
  }

  /* line 873, ../sass/screen.scss */
  #mobile-search .search-submit {
    width: 2.2em !important;
    min-width: 30px !important;
  }

 /************************************************************************************
DONATE BUTTONS
*************************************************************************************/
  /* line 880, ../sass/screen.scss */
  .details-donation-form li.standard-radio-input.with-text-field .col-b textarea {
    width: 236px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /************************************************************************************
  GENERAL STYLING
  *************************************************************************************/
  /* line 888, ../sass/screen.scss */
  h1 {
    font-size: 1.5em;
  }

  /* line 892, ../sass/screen.scss */
  h1.h-large,
  h2.h-large {
    font-size: 1.5em;
  }

  /* line 895, ../sass/screen.scss */
  h2 {
    font-size: 1.5em;
  }

  /* line 898, ../sass/screen.scss */
  .pml {
    font-size: 1em;
  }

  /* line 901, ../sass/screen.scss */
  .pm {
    font-size: 1em;
  }

  /************************************************************************************
  HEADER NAVIGATION
  *************************************************************************************/
  /* line 907, ../sass/screen.scss */
  header nav {
    margin-bottom: 4px !important;
  }

  /* line 910, ../sass/screen.scss */
  header nav ul {
    font-size: 1em !important;
    font-weight: 1000;
  }

  /************************************************************************************
  FOOTER
  *************************************************************************************/
  /* line 917, ../sass/screen.scss */
  #subscribe {
    display: inline-block;
  }

  /* line 920, ../sass/screen.scss */
  #subscribe form .h-style {
    clear: right;
    float: none;
    display: block !important;
    margin-bottom: 10px !important;
  }

  /************************************************************************************
  BUTTONS
  *************************************************************************************/
  /* line 929, ../sass/screen.scss */
  #header-aux-donate .button-wrapper-green a {
    font-size: 1.1em !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    /*padding-left:18px !important;
    padding-right:20px !important;*/
  }

  /************************************************************************************
  CAROUSEL
  *************************************************************************************/
  /* line 939, ../sass/screen.scss */
  #carousel-container {
    width: 391px !important;
    /*height:136px !important;*/
    overflow: hidden;
  }

  /* line 943, ../sass/screen.scss */
  #carousel-container ul li {
    width: 617px !important;
    /*height:136px !important;*/
    overflow: hidden;
  }

  /* line 947, ../sass/screen.scss */
  #carousel-container ul li img {
    /*margin-left:-113px;*/
  }

  /************************************************************************************
  DONATE BUTTONS
  *************************************************************************************/
    /*.donate-label-wrapper{
        
    }
    .donate-label-wrapper.selected{
        
    }
    .donate-label-wrapper input[type=radio]{
        margin:39px 0 0 10px !important;
    }
    .donate-label-wrapper .donate-radio-label{
        padding:34px 0 0 25px !important;
    }
    .donate-label-wrapper .donate-input-wrapper{
       left:45px !important;
    }
    .donate-label-wrapper .donate-input-wrapper input[type=text]{

    }
    .donate-label-support{}*/
}
