@import "colors";
@import "compass";

$media-mobile-max: 767px !default;
$media-tablet-min: 768px !default;
$media-tablet-max: 1024px !default;
$media-desktop-min: 1025px !default;

@mixin wrapper{
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}
@mixin button-wrapper{
    display:inline-block;
    background-repeat:repeat-x;
    background-position:top left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    overflow:hidden;
    position:relative;

    a{
        display:block;
        color: $white !important;
        text-decoration:none;
        padding: 18px 70px 14px 70px;
        font-size: 16px;
        line-height: 16px;
        font-weight:700;
        text-align: center;
    }
    .btn-text{
        display:block;
        color: $white;
        text-decoration:none;
        padding:6px 28px 6px 24px;
        margin-right:8px;
        font-size: 14px;
        font-weight:bold;
        background: url(../images/buttons/right-arrow.png) no-repeat scroll right center transparent;
    }
    a:hover{
        text-decoration:none;
        @include opacity(0.8);
    }
}
@mixin image-link{
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
@mixin hr-style{
    border:0;
    width:100%;
    display:inline-block;
    height:3px;
}
@mixin header-aux-links-a{
    color:$logo-orange;
    font-weight:bold;
    display:inline-block;
    margin:0 4px;
    text-decoration:none;
}
