$white: #FFF;
$black: #000;
$pale-yellow: #FDF6EC;
$pale-blue: #E4EDF4;
$light-grey: #CECECE;
$dark-grey: #323232;

$logo-blue: #13467D;
$logo-orange:#EE8E1D;
$logo-red: #C11F2E;

$hr-blue: #F2F6F8;

$btn-blue:#295C85;
$btn-green:#5EB657;

