@font-face {
    font-family: 'RotSanSer';
    src: url('../fonts/rotsanser-webfont.eot');
    src: url('../fonts/rotsanser-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotsanser-webfont.woff') format('woff'),
         url('../fonts/rotsanser-webfont.ttf') format('truetype'),
         url('../fonts/rotsanser-webfont.svg#AgfaRotisSansSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RotSanSerBold';
    src: url('../fonts/agfarotsanserbolr-webfont.eot');
    src: url('../fonts/agfarotsanserbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agfarotsanserbolr-webfont.woff') format('woff'),
         url('../fonts/agfarotsanserbol-webfont.ttf') format('truetype'),
         url('../fonts/agfarotsanserbolr-webfont.svg#AgfaRotisSansSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RotSanSerLight';
    src: url('../fonts/agfarotsanserlig-webfont.eot');
    src: url('../fonts/agfarotsanserlig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agfarotsanserlig-webfont.woff') format('woff'),
         url('../fonts/agfarotsanserlig-webfont.ttf') format('truetype'),
         url('../fonts/agfarotsanserlig-webfont.svg#agfarotissansseriflightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*!
 *  Font Awesome 3.2.1
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/davegandy
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
 */

@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/path";
@import "font-awesome/core";
@import "font-awesome/bootstrap";
@import "font-awesome/extras";
@import "font-awesome/icons";
