/* ============================================ */
/* This file has a mobile-to-desktop breakpoint */
/* ============================================ */
@import "base";
@import "partials/unsemantic-vars";
@import "partials/unsemantic-ie-snap";

.grid-container{width:$container-max-width !important;}
.extra-outer-gutter{
  /*max-width:$container-max-width - $gutter-half * 2 !important;*/
  width:$container-max-width - $gutter-half * 2 !important;
  padding-left:$gutter-half * 2 !important;
  padding-right:$gutter-half * 2 !important;
}
@media screen{
  @import "partials/unsemantic-grid-base-tablet";
}
@media screen and (max-width: $media-mobile-max){
  @import "partials/unsemantic-grid-mobile";
  .grid-container{width:300px !important;}
  .extra-outer-gutter{
	/*max-width:$container-max-width !important;*/
	width:300px !important;
	padding-left:$gutter-half !important;
	padding-right:$gutter-half !important;
  }
  .extra-outer-gutter.mobile-reset-gutter{
	width: 280px !important;
	padding-left:$gutter-half * 2 !important;
	padding-right:$gutter-half * 2 !important;
  }
  .mobile-no-left-padding{ padding-left:0 !important; }
  .mobile-no-right-padding{ padding-right:0 !important; }
}
@media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max){
  @import "partials/unsemantic-grid-tablet";
  .grid-container{width:748px !important;}
  .extra-outer-gutter{
	/*max-width:$container-max-width !important;*/
	width:728px !important;
	padding-left:$gutter-half !important;
	padding-right:$gutter-half !important;
  }
  .tablet-no-left-padding{ padding-left:0 !important; }
  .tablet-no-right-padding{ padding-right:0 !important; }
}
@media screen and (min-width: $media-desktop-min){
  @import "partials/unsemantic-grid-desktop";
  .desktop-no-left-padding{ padding-left:0 !important; }
  .desktop-no-right-padding{ padding-right:0 !important; }
}