#main {
  padding-bottom: 80px;
}

.donate-right {
  text-align: right;
}

.color-right {
  border-right: 10px solid #FDF6EC;
}

#block-block-4 {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding-left: 10px;
  padding-right: 10px;
  .content {
    padding: 10px;
    background: #fff;
    margin: 0 10px;
  }
}

#block-panels-mini-home-intros {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  .extra-outer-gutter {
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: auto !important;
  }
}

strong {
  font-weight: bold;
}

label.error, .block-system .messages.error {
  width: 100% !important;
  font-weight: bold;
  color: #ff0000;
}

.meanTitle {
  width: 22px;
  height: 22px;
  padding: 13px 13px 11px 13px;
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
  color: #444648;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 1.2em;
}

.field-name-body {
  li {
    font-size: 1.2em;
  }
  overflow: hidden;
  i, em {
    font-style: italic;
  }
  img {
    margin: 10px;
    display: inline;
  }
}

footer nav ul li a {
  color: #d082bf;
  &:hover{
    color: #d082bf;
  }
}

header nav .nav-sub ul li a:hover {
  color: #13467d !important;
}

.recent-donors table {
  width: 50%;
  td {
    margin: 8px;
    padding: 8px;
    font-size: 1.2em;
  }
  th {
    margin: 8px;
    padding: 8px;
    font-size: 1.2em;
    font-weight: bold !important;
  }
}

header nav .nav-sub ul ul li a {
  font-size: 0.85em !important;
}

.content table {
  td, th {
    margin: 8px;
    padding: 8px;
  }
  td:first-child, th:first-child {
    margin-left: 0;
    padding-left: 0;
  }
}

.views-field-line-item-title {
  width: 120px;
}

.content table {
  td:last-child, th:last-child {
    margin-right: 0;
    padding-right: 0;
  }
}

.pullquote {
  font-weight: bolder;
}

.button-wrapper-green {

}

#header-aux-donate .button-wrapper-green a {
  padding: 12px 39px !important;
  font-size: 14px;
}

#search-form {
  display: none;
}

.search-input {
  padding: 8px 0 7px 12px !important;
}

.search-submit {
  padding: 0;
  cursor: pointer;
  behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
}

.search-results li {
  color: #13467d;
  font-weight: bold;
  p {
    color: #333;
    font-weight: normal;
  }
}

.item-list .pager {
  text-align: left;
  list-style: none;
  float: left;
  li {
    display: inline;
    padding: 9px !important;
    margin: 0 5px !important;
  }
}

.tabs {
  li {
    display: inline-block;
    list-style: none outside none;
    padding: 5px 8px;
    background: #ccc;
    color: #333;
    font-weight: bold;
  }
  .nav-pills {
    margin: 5px 0;
  }
  li.active {
    padding: 5px;
    background: #00457c;
    color: #fff;
    a {
      color: #fff;
    }
  }
  a {
    text-decoration: none;
  }
}

.content .field-items {
  /*display:table;*/
  width: 100%;
  .grid-65, .grid-35 {
    display: table-cell;
  }
}

.no-show-text {
  white-space: nowrap;
  overflow: hidden;
  text-indent: -9000px;
  text-transform: capitalize;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #ad3192;
  text-decoration: none;
}

input, select, textarea, button {
  -moz-box-shadow: none;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none !important;
  -moz-appearance: none;
}
.field-content,
.view-header,
.panel-pane,
.field-name-body {
  a {
    color: #ad3192;
    font-weight: 700;
    &:hover {
      color: #ad3192;
    }
  }
  ul {
    padding-left: 30px;
    list-style: disc;
  }
  ol {
    padding-left: 30px;
    list-style: decimal;
  }
  strong {
    font-weight: bold;
  }
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  &.element-focusable {
    &:active, &:focus {
      position: static !important;
      clip: auto;
      overflow: visible;
      height: auto;
      padding: 0 1em;
    }
  }
}

/* login block */

.login {
  margin-top: 15px;
  position: relative;
  .close-panel {
    background: url(../images/close-panel.gif) no-repeat scroll 100% 0 transparent;
    height: 17px;
    line-height: 17px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    display: block;
    a {
      color: #333;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

#user-login-form {
  label {
    border: none;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 3px;
  }
  .form-item {
    width: 33%;
    float: left;
    margin: 0 10px 0 0;
    label {
      font-weight: normal;
    }
    input {
      border: 1px solid #333;
      color: #333;
      height: 12px;
      position: relative;
      background: url(../images/buttons/donate.png) no-repeat center right #3c9535 !important;
      width: 100%;
      padding: 5px 3px;
    }
  }
  .form-submit {
    border: 0 none;
    color: #333;
    cursor: pointer;
    float: left;
    margin-top: 12px;
  }
  p {
    color: #333;
    float: left;
    font-size: 10px;
    clear: both;
    text-align: right;
    width: 66%;
    position: relative;
  }
}

form#user-login-form > .form-submit {
  height: 0px;
}

.donate-label-wrapper .donate-input-wrapper input {
  &[type=number], &[type=text] {
    background: white;
    width: 80%;
    font-size: 1.2em;
    padding: 6px 0 6px 1px !important;
  }
}

/* line 358, ../sass/screen.scss */

.carousel-pagination a {
  &:hover, &.selected {
    background-position: 0 0;
  }
}

/** forms **/

.donate-label-wrapper {
  behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
}


#donation-pageform {

  .donate-recommended {
    display: inline-block;
    width: 100%;
    clear: both;
  }
  .form-item-amount > label { display: none; }

  .form-type-radio {

    width: 100%;

    box-sizing: border-box;

    @media screen and (min-width: 1024px) {
      width: 25%;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 50%;
    }

    min-height: 60px;
    display: inline-block;

    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 4px;
    float: left;

    &.selected label {
      background: #3c9535;
    }

    input[type=radio] {
      display: block;
      position: absolute;
      z-index: 60;
      top: 19px;
      left: 14px;
    }

    label {
      position: absolute;
      top: 4px;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        top: 1px;
      }
      @supports (-ms-accelerator:true) {
        top: 1px;
      }
      bottom: 4px;
      left: 4px;
      right: 4px;
      color: white;
      font-weight: bold;
      font-size: 2.13em;
      line-height: 2;
      text-indent: 40px;
      z-index: 50;
      margin: 0;
      display: block;
      overflow: hidden;
      padding: 0;
      background: #92278f;
    }

    label[for="edit-amount-other"] {
      color: transparent;
      font-size: 1px;

    }

  }

  .form-submit {
    float: right;
    width: 100%;
    margin: 15px 0;

    @media screen and (min-width: 1024px) {
      width: 25%;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 50%;
    }
  }

  .form-item-amount-other {
    position: absolute;
    right: 0;
    margin-bottom: 15px;
    position: relative;
    z-index: 70;
    label {
      display: none;
    }

    .form-text {
      margin-top: -51px;
      position: absolute;
      right: 20px;

      width: 70%;
      background-color: #ffffff;
      color: #144973;

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;

      @media screen and (min-width: 1024px) {
        width: 13%;
      }

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 33%;
      }
    }

  }
}


#inmem-pageform {

  .form-item {
    margin: 0 0 10px 0;
  }

  .form-type-textfield {

    input {
      border: 1px solid #13467d;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      margin: 10px 0;
      min-width: 50%;
    }

  }
}


.donate-body ul {
  list-style: disc outside none;
  font-size: 1.2em;
  margin-left: 15px;
}

input[type=submit] {
  &.green-button {
    color: white;
    display: block;
    font-weight: bold;
    margin-right: 8px;
    padding: 16px 40px 16px 16px; //20px 28px 18px 24px;
    border: none;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    margin: 0;

    background: url(../images/buttons/donate.png) no-repeat scroll right center #5EB657;
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -moz-linear-gradient(top, #5EB657 30%, #5EB657 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -o-linear-gradient(top, #5EB657 30%, #5EB657 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #5EB657), color-stop(100%, #5EB657));
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-linear-gradient(top, #5EB657 30%, #5EB657 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, linear-gradient(top, #5EB657 30%, #5EB657 100%);
    display: inline-block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
  }
  &.pink-button {
    color: white;
    display: block;
    font-weight: bold;
    margin-right: 8px;
    padding: 16px 40px 16px 16px; //20px 28px 18px 24px;
    border: none;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    margin: 0;
    background: #ff5572;
    background: url(../images/buttons/donate.png) no-repeat scroll right center #ff5572;
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -moz-linear-gradient(top, #ff5572 30%, #ff5572 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -o-linear-gradient(top, #ff5572 30%, #ff5572 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #ff5572), color-stop(100%, #ff5572));
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-linear-gradient(top, #ff5572 30%, #ff5572 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, linear-gradient(top, #ff5572 30%, #ff5572 100%);
    border-radius: 6px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
  }
  &.red-button {
    color: white;
    display: block;
    font-weight: bold;
    margin-right: 8px;
    padding: 16px 40px 16px 16px; //20px 28px 18px 24px;
    border: none;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    margin: 0;
    background: #c41230;
    background: url(../images/buttons/donate.png) no-repeat scroll right center #c41230;
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -moz-linear-gradient(top, #c41230 30%, #c41230 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -o-linear-gradient(top, #c41230 30%, #c41230 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #c41230), color-stop(100%, #c41230));
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-linear-gradient(top, #c41230 30%, #c41230 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, linear-gradient(top, #c41230 30%, #c41230 100%);
    border-radius: 6px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
  }
  &.blue-button {
    color: white;
    display: block;
    font-weight: bold;
    margin-right: 8px;
    padding: 16px 40px 16px 16px; //20px 28px 18px 24px;
    border: none;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    margin: 0;
    background: #00457c;
    background: url(../images/buttons/donate.png) no-repeat scroll right center #40bf36;
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -moz-linear-gradient(top, #40bf36 30%, #40bf36 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -o-linear-gradient(top, #40bf36 30%, #40bf36 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #40bf36), color-stop(100%, #40bf36));
    background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-linear-gradient(top, #40bf36 30%, #40bf36 100%);
    background: url(../images/buttons/donate.png) no-repeat scroll right center, linear-gradient(top, #40bf36 30%, #40bf36 100%);
    border-radius: 6px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
  }
}

.mailchimp-lists-user-subscribe-form input[type=submit], .contact-form input[type=submit], .webform-client-form input[type=submit], #user-login input[type=submit] {
  color: white;
  display: block;
  font-weight: bold;
  margin-right: 8px;
  padding: 16px 40px 16px 16px; //20px 28px 18px 24px;
  border: none;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
  background: #3c9535;
  background: url(../images/buttons/donate.png) no-repeat scroll right center #40bf36;
  background: url(../images/buttons/donate.png) no-repeat scroll right center, -moz-linear-gradient(top, #40bf36 30%, #40bf36 100%);
  background: url(../images/buttons/donate.png) no-repeat scroll right center, -o-linear-gradient(top, #40bf36 30%, #40bf36 100%);
  background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #40bf36), color-stop(100%, #40bf36));
  background: url(../images/buttons/donate.png) no-repeat scroll right center, -webkit-linear-gradient(top, #40bf36 30%, #40bf36 100%);
  background: url(../images/buttons/donate.png) no-repeat scroll right center, linear-gradient(top, #40bf36 30%, #40bf36 100%);
  display: inline-block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
}



.button-operator {
  margin: 0 10px;
  display: none;
}


.button-wrapper-green {
  color: white;
  display: block;
  margin-right: 8px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
  background: #3c9535;
  background-image: url(../images/buttons/right-arrow.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-radius: 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
}

.button-wrapper-line {
  color: white;
  display: block;
  margin-right: 8px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  padding: 10px 50px;
  margin: 0;
  background: #3c9535;
  background-image: url(../images/buttons/right-arrow.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-radius: 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
  @media(max-width:966px){
    padding:10px 10px;
  }
}


.button-wrapper-pink {
  color: white;
  display: block;
  margin-right: 8px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
  background: #ff5572;
  background: -moz-linear-gradient(top, rgba(255, 85, 114, 0.7) 0%, rgba(255, 85, 114, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 85, 114, 0.7)), color-stop(100%, rgba(255, 85, 114, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 85, 114, 0.7) 0%, rgba(255, 85, 114, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 85, 114, 0.7) 0%, rgba(255, 85, 114, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 85, 114, 0.7) 0%, rgba(255, 85, 114, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 85, 114, 0.7) 0%, rgba(255, 85, 114, 1) 100%);
  border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
}

.button-wrapper-red {
  color: white;
  display: block;
  margin-right: 8px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
  background: #c41230;
  background: -moz-linear-gradient(top, rgba(196, 18, 48, 0.7) 0%, rgba(196, 18, 48, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(196, 18, 48, 0.7)), color-stop(100%, rgba(196, 18, 48, 1)));
  background: -webkit-linear-gradient(top, rgba(196, 18, 48, 0.7) 0%, rgba(196, 18, 48, 1) 100%);
  background: -o-linear-gradient(top, rgba(196, 18, 48, 0.7) 0%, rgba(196, 18, 48, 1) 100%);
  background: -ms-linear-gradient(top, rgba(196, 18, 48, 0.7) 0%, rgba(196, 18, 48, 1) 100%);
  background: linear-gradient(to bottom, rgba(196, 18, 48, 0.7) 0%, rgba(196, 18, 48, 1) 100%);
  border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
}

.button-wrapper-blue {
  color: white;
  display: block;
  text-decoration: none;
  /* text-transform: uppercase;*/
  border: none;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  border-radius:0;
  background: #ad3192 no-repeat;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background-image: url(../images/buttons/right-arrow.png);
  background-position: right 10px center;
  behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
}


p.button-wrapper-blue a {
  color: #FFFFFF !important;
  &:hover {
    color: #fff !important;
  }
}

.equal {
  position: relative;
  p {
    display: block;
  }
  .button-wrapper-blue, .button-wrapper-red, .button-wrapper-green {
    margin-top: 10px;
    position: relative;
    bottom: 0px;
    display: inline-block;
  }
}



.center-on-mobile .button-wrapper-blue {
  position: relative;
  bottom: auto !important;
}


#block-petermac-mailchimp-petermac-mailchimp {

  padding: 10px;

  h2 {
    float: left;
    font-size: 1.1em;
    padding-right: 10px;
  }

}

.mailchimp-lists-user-subscribe-form {
  input[type=submit] {
    padding: 09px 28px 10px 15px;
    margin-left: 10px;
    background-position: right 2px;
  }
  label {
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
  }
  input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 1em;
    margin-right: 5px;
    padding: 10px 10px 10px 12px;
    position: relative;
  }
  .form-text {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CECECE;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    float: left;
    behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
  }
}

/** menus **/

.user-menu ul {
  float: right;
}

/* forms */

.webform-component-markup {
  display: block;
  clear: both;
}

.webform-client-form fieldset legend, #edit-account .fieldset-legend {
  color: #00457c;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  padding: 10px 0 18px 0;
  font-size: 1.66em;
}

#edit-customer-profile-billing {
  .fieldset-legend {
    color: #00457c;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    padding: 10px 0 18px 0;
    font-size: 1.66em;
  }
  .form-wrapper.date-processed .fieldset-legend {
    color: #000;
    display: block;
    font-weight: normal;
    font-size: 1em;
  }
}

#user-register-form .form-item, #user-profile-form .form-item, .user-profile .field, .user-profile-category, .webform-client-form .form-item, #edit-customer-profile-billing .form-item {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  height: auto;
  height: 100%;
}

.webform-client-form .form-item.webform-component-date {
  margin-bottom: 5px;
}

#user-register-form .form-type-textfield, #user-profile-form .form-type-textfield, .webform-client-form .webform-component-textfield {
  display: block;
  float: left;
  clear: both;
  width: 90%;
}

/* line 589, ../sass/screen.scss */

#user-register-form {
  .form-type-textfield label, .form-type-select label, .form-type-country label, .form-type-password label {
    display: inline-block;
    position: relative;
    width: 163px;
    /*  margin-right: 10px; */
    vertical-align: top;
  }
}

#user-profile-form {
  .form-type-textfield label, .form-type-select label, .form-type-country label, .form-type-password label {
    display: inline-block;
    position: relative;
    width: 163px;
    /*  margin-right: 10px; */
    vertical-align: top;
  }
}

.user-profile {
  .user-profile-item, .field-type-text .field-label, .field-type-country .field-label, .field-type-text .field-items, .field-type-country .field-items {
    display: inline-block;
    position: relative;
    width: 163px;
    /*  margin-right: 10px; */
    vertical-align: top;
  }
}

.contact-form label, .webform-client-form label, #user-login label {
  display: inline-block;
  position: relative;
  width: 163px;
  /*  margin-right: 10px; */
  vertical-align: top;
}


/* line 595, ../sass/screen.scss */

#user-register-form {
  .form-type-textfield input, .form-type-password input {
    display: inline-block;
    position: relative;
    padding: 0 3px 0 3px;
    border: 1px solid #323232;
    font-size: 1em;
    width: 238px;
    margin: 0;
  }
}

#user-profile-form {
  .form-type-textfield input, .form-type-password input {
    display: inline-block;
    position: relative;
    padding: 0 3px 0 3px;
    border: 1px solid #323232;
    font-size: 1em;
    width: 238px;
    margin: 0;
  }
}

.contact-form input[type=text] {
  display: inline-block;
  position: relative;
  padding: 0 3px 0 3px;
  border: 1px solid #323232;
  font-size: 1em;
  width: 238px;
  margin: 0;
}

.webform-client-form {
  .webform-component-textfield input {
    display: inline-block;
    position: relative;
    padding: 0 3px 0 3px;
    border: 1px solid #323232;
    font-size: 1em;
    width: 238px;
    margin: 0;
  }
  input {
    &[type=text], &[type=email], &[type=number] {
      display: inline-block;
      position: relative;
      padding: 0 3px 0 3px;
      border: 1px solid #323232;
      font-size: 1em;
      width: 238px;
      margin: 0;
    }
  }
}

#user-login {
  .form-type-textfield input, .form-type-password input {
    display: inline-block;
    position: relative;
    padding: 0 3px 0 3px;
    border: 1px solid #323232;
    font-size: 1em;
    width: 238px;
    margin: 0;
  }
}




.field-name-field-support-prompt {
  label, .select-or-other {
    display: inline-block;
    float: left;
    margin-right: 13px !important;
  }
}



fieldset#edit-cart-contents > legend > span, .customer_profile_billing > legend > span, fieldset#edit-cart-contents > .fieldset-wrapper thead th, .views-table th, .sticky-enabled th {
  font-weight: bold;
}

/*table.views-table{width:100%}*/

.contact-form .form-type-checkbox input, .webform-client-form .webform-type-checkbox input {
  margin-left: 165px;
}

.contact-form input[type=submit], .webform-client-form input[type=submit] {
  margin: 10px 0;
}

/* line 605, ../sass/screen.scss */

#user-register-form .form-item .description {
  margin: 5px 10px 0 10px;
}

#user-login .form-item .description {
  margin: 5px 10px 15px 0px;
}

#user-register-form {
  .password-strength {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .password-strength-title {
    display: inline-block;
    float: left;
    width: 150px;
    margin-bottom: 5px;
  }
  .password-strength-text {
    display: inline-block;
    float: right;
    width: 67%;
    margin-bottom: 5px;
    margin-right: 10%;
    font-weight: bold;
  }
  .form-item.form-type-textfield.form-item-name {}
  .confirm-parent div.password-confirm {
    margin: 15px 0px;
  }
  .form-item-mail {
    margin-top: 20px;
  }
  .password-suggestions li {
    padding-left: 20px;
  }
  .password-confirm {
    .ok, .error {
      margin-left: 57px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  .password-strength-text {}
}

/* line 608, ../sass/screen.scss */

.details-donation-form li.standard-text-input .col-b input[type=text].short {
  width: 30px !important;
}

/* line 611, ../sass/screen.scss */

#user-register-form {
  .form-type-select select, .form-type-country select {
    padding: 3px;
    border: 1px solid #323232;
    font-size: 1em;
    min-width: 246px;
    height: 23px;
  }
}

#user-profile-form {
  .form-type-select select, .form-type-country select {
    padding: 3px;
    border: 1px solid #323232;
    font-size: 1em;
    min-width: 246px;
    height: 23px;
  }
}

.contact-form select,
.webform-client-form .webform-component-select select,
.webform-client-form .select-or-other select {
  padding: 3px;
  border: 1px solid #323232;
  font-size: 1em;
  min-width: 246px;
  height: 23px;
}

#user-register-form {
  .form-type-select select.error, .form-type-country select.error {
    border: 1px solid #FF0000;
  }
}

#user-profile-form {
  .form-type-select select.error, .form-type-country select.error {
    border: 1px solid #FF0000;
  }
}

div.error {
  color: #FF0000;
  font-style: italic;
  font-weight: bold;
  a {
    color: #FF0000;
    font-weight: bold;
  }
}

.donate-label-wrapper .donate-amount-input {
  background: white;
  width: 53px;
  font-size: 1.2em;
  padding: 6px 0 6px 1px !important;
}

.field-widget-date-select {
  clear: both;
  legend {
    float: left;
    margin-right: 13px;
    position: relative;
    width: 150px;
  }
  .fieldset-wrapper {
    clear: none;
    float: left;
    width: auto !important;
    div {
      clear: none;
      float: left;
      width: auto !important;
    }
  }
  select {
    width: auto !important;
    min-width: 0px !important;
  }
  .form-item {
    width: auto !important;
  }
  label {
    display: none !important;
  }
  .clearfix:after {
    clear: none;
  }
}





.form-item label {
  padding-top: 3px;
  line-height: 1.3;
}

.description {
  padding-top: 6px;
}

.fieldset-description, .description {
  line-height: 1.3;
}

.inline-cleared-radio {

  display: block;

  > label {
    display: block;
    width: auto;
    margin-bottom: 8px !important;
  }
  .form-radios .form-item {
    display: inline;
    label {
      width: auto !important;
    }
  }
}

.webform-client-form {
  .form-type-select select {
    padding: 3px;
    border: 1px solid #323232;
    font-size: 1em;
  }
  .webform-container-inline, .select-or-other, .webform-grid, .form-checkboxes, .form-radios {
    display: inline-block;
    position: relative;
  }
}


.webform-client-form .webform-grid {
  td, th {
    margin: 3px;
    padding: 3px;
  }
}

.contact-form .form-item, .webform-client-form .fieldset-description {
  margin-bottom: 10px;
}

.contact-form .form-textarea-wrapper, .webform-client-form .form-textarea-wrapper {
  display: inline-block;
}

.contact-form textarea, .webform-client-form textarea {
  background: white;
  position: relative;
  padding: 3px;
  border: 1px solid #323232;
  font-size: 1em;
  font-family: Arial, Helvectica, sans-serif;
  width: 230px;
  height: 60px;
}

/* rb 08.10.13 amends */

#edit-submitted-availability-when-you-are-available-to-volunteer--2 > div {
  display: block !important;
}

#webform-component-weekday-volunteering--please-indicate-your-level-of-ability-in table tr td .form-item {
  text-align: center;
}

#webform-component-background, #webform-component-specialist-skills, #webform-component-other-information {
  position: relative;
  height: 130px;
}

#webform-component-background > label, #webform-component-specialist-skills > label, #webform-component-other-information > label {
  position: absolute;
}

#webform-component-background > div.form-textarea-wrapper, #webform-component-specialist-skills > div.form-textarea-wrapper, #webform-component-other-information > div.form-textarea-wrapper {
  position: absolute;
  left: 163px;
  top: 70px;
}

#webform-component-background > div.description, #webform-component-specialist-skills > div.description, #webform-component-other-information > div.description {
  position: absolute;
  top: 20px;
}

@media screen and (max-width: 767px) {
  #webform-component-background, #webform-component-specialist-skills, #webform-component-other-information {
    position: relative;
    height: 180px;
  }
  #webform-component-background > div.form-textarea-wrapper, #webform-component-specialist-skills > div.form-textarea-wrapper, #webform-component-other-information > div.form-textarea-wrapper {
    position: absolute;
    left: 0px;
    top: 80px;
  }
  #user-register-form .password-strength-text {
    width: 30%;
  }
  .webform-container-inline label.error {
    left: 0;
    position: absolute;
    top: 21px;
  }
}

@media screen and (min-width: 1024px) {
  #user-register-form .password-strength-text {
    width: 63.5%;
  }
}

#webform-component-information-about-the-event--event-date .webform-container-inline.webform-datepicker, #webform-component-information-about-the-funeral--funeral-date .webform-container-inline.webform-datepicker {
  display: inline-block;
  width: 238px;
}

.webform-datepicker select.day, .webform-component-date select.day {
  width: 65px;
}

.webform-datepicker select.month, .webform-component-date select.month {
  width: 80px;
}

.webform-datepicker select.year, .webform-component-date select.year {
  width: 70px;
}

.form-item select, #user-register-form .form-type-select select#edit-field-country-und {
  padding: 3px;
  border: 1px solid #323232;
  font-size: 1em;
  margin: 0;
  width: 238px;
}

.field-item {
  .checkbox-fundraising {
    float: right;
  }
  hr {
    clear: both;
  }
}

.page-user-register #user-register-form .form-item .description {
  margin-left: 0;
  font-style: italic;
  width: 75%;
  ul {}
}

#node-135.node-tertiary-page .content table td {
  padding: 0;
}

/* line 618, ../sass/screen.scss */

.details-donation-form li {
  &.inline-radio-input {
    display: inline-block;
    text-align: center;
    padding: 0 20px 0 10px;
    min-width: 38px;
    input {
      &[type=radio] {
        display: block;
        margin: 0 auto 10px;
      }
      &[type=text] {
        display: inline-block;
        border: 1px solid #323232;
        margin-top: 19px;
        padding: 3px;
        width: 73px;
      }
    }
  }
  &.standard-radio-input {
    margin-bottom: 10px;
    clear: both;
    display: table;
    float: left;
    .col-a {
      display: table-cell;
      text-align: center;
      padding: 0 10px 0 10px;
      /* <-- to align with the first radio input of the inline form, may change */
    }
    .col-b {
      display: table-cell;
    }
    &.with-text-field {
      margin-bottom: 10px;
      clear: both;
      display: inline-block;
      float: left;
      .col-a {
        display: inline-block;
        width: 21px;
      }
      .col-b {
        display: inline-block;
        textarea {
          background: white;
          position: relative;
          padding: 3px;
          border: 1px solid #323232;
          font-size: 1em;
          font-family: Arial, Helvectica, sans-serif;
          width: 350px;
          height: 60px;
        }
      }
    }
  }
}

/* line 624, ../sass/screen.scss */

/* line 628, ../sass/screen.scss */

/* line 636, ../sass/screen.scss */

/* line 642, ../sass/screen.scss */

/* line 647, ../sass/screen.scss */

/* line 650, ../sass/screen.scss */

/* line 657, ../sass/screen.scss */

/* line 661, ../sass/screen.scss */

/* line 664, ../sass/screen.scss */

header {
  nav {
    ul {
      text-align: justify;
      display: block;
      width: 100%;
      position: relative;
      padding-left: 0;
      ul li {
        display: inline;
        white-space: nowrap;
      }
    }
    > ul {
      > li > a {
        font-size: 1.16em;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
      > li {
        display: inline-block;
        white-space: nowrap;
        position: relative;
      }
    }
    > ul > li a {
      text-align: left !important;
      text-transform: none;
    }
  }
  li .nav-sub {
    clear: both;
    position: absolute;
    color: #fff;
    z-index: 2;
    display: none;
    line-height: 1.9em;
    /*border-top:0;*/
  }
  nav > ul.donationmenu:after {
    width: auto !important;
  }

  a:hover {
    text-decoration: none;
  }
}

/* line 199, ../sass/screen.scss */

.donationmenu {
  li {
    padding: 10px;
    margin: 0 10px;
    &.first {
      padding-left: 0px;
      margin-left: 0px;
    }
  }
  .active {
    color: #521144 !important;
  }
  .pretend {
    color: #ad3192;
    font-weight: bold;
    font-size: 1.16em;
  }
}

header li .nav-sub {
  ul li {
    float: none;
    display: list-item;
    padding: 0;
    margin: 0 0 3px 0;
  }
  > ul > li > a {
    float: none;
    height: auto;
    text-align: left;
    background: none;
  }
}

footer nav {
  > ul:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  ul {
    display: block;
    font-size: 1em;
    text-align: center;
    width: 100%;
  }
}

li {
  .hover .nav-sub ul li a {
    background: none;
    &:hover {
      background: #444;
    }
  }
  .nav-sub ul li li a {
    padding: 2px 30px;
  }
}

.user-menu ul li {
  float: left;
  border-right: 1px solid #323232;
  display: inline;
  white-space: nowrap;
  margin-right: 10px;
  padding-right: 10px;
  &.last {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
}

#header-aux-social {
  .addthis_button_facebook at300b span {
    background: url("../images/header/icon-facebook.png") no-repeat scroll left top transparent;
  }
  .addthis_button_twitter at300bspan {
    background: url("../images/header/icon-twitter.png") no-repeat scroll left top transparent;
    width: 42px;
  }
}

/* footer */

#news p {
  margin: 0;
}

.h-style {
  color: #13467d;
  font-weight: bold;
  font-size: 1.08em;
  a {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 22px;
  }
}

.common-more a {
  color: #ad3192;
  font-weight: 400;
  font-size: 1em;
  &:before {
    content: "\00BB  ";
  }
  &:hover {
    color: #ad3192;
  }
}

/* line 93, ../sass/screen.scss */

/* line 96, ../sass/screen.scss */

.carousel-container {
  width: 980px;
  height: 300px;
  overflow: hidden;
  ul {
    padding-left: 0;
    li {
      display: block;
      float: left;
      width: 980px;
      height: 300px;
      float: left;
      h2{
        margin:0 10px 20px 0;
      }
    }
  }
  img {
    line-height: 1;
    width: 100%;
    height: auto;
  }
}

/* line 327, ../sass/screen.scss */

/* line 332, ../sass/screen.scss */

/* line 336, ../sass/screen.scss */

.carousel-support {
  position: relative;
  background: white;
  margin-left: -10px;
  height: 300px;
  background: #431e75; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #431e75 , #91278f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #431e75, #91278f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #431e75, #91278f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #431e75 , #91278f); /* Standard syntax */
  .common-inner {
    padding: 50px 10px 0 10px;
    background: transparent;
    h2{

      @media(min-width:1025px){
         color: #FFFFFF;
      }
    }

  }
}

/* line 342, ../sass/screen.scss */

/* line 345, ../sass/screen.scss */

.carousel-pagination {
  /*
  position: absolute;
  left: 0;
  bottom: 10px;
  */
  margin: 20px 0 0 0;
  width: 100%;
  text-align: center;
  a {
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url(../images/buttons/carousel-pagination.png) 0 -30px no-repeat;
    margin: 0 7px;
    &:hover, &.selected {
      background-position: 0 0;
    }
  }
}

/* line 351, ../sass/screen.scss */

/* line 358, ../sass/screen.scss */

/* MOBILE */
@media screen and (max-width: 767px) {
  select#edit-in-expiry-month {
    margin-top: 10px;
  }
  .mailchimp-lists-user-subscribe-form input[type=submit] {
    margin-top: 5px;
  }
  #header-logo a {
    width: 225px !important;
    height: 63px !important;
    margin-bottom: 20px;
  }
  .mobile-grid-50 .menu li {
    display: inline-block;
    &.first {
      border-right: 1px solid #323232;
      margin-right: 10px;
      padding-right: 10px;
    }
  }
  .carousel-container {
    width: 300px !important;
    //height: 425px !important;
    overflow: visible;
    ul li {
      width: 300px !important;
      //height: 425px !important;
    }
  }
  /* line 801, ../sass/screen.scss */
  /* line 804, ../sass/screen.scss */
  .carousel-support {
    height: auto !important;
    margin: 0 !important;
    padding-right: -20px;
    background: none;
    .common-inner {
      background: white;
    }
  }
  /* line 810, ../sass/screen.scss */
  /* line 813, ../sass/screen.scss */
  .carousel-pagination {
    position: relative !important;
    bottom: none !important;
    margin: 10px 0 0 !important;
    padding: 10px 0 10px !important;
  }
  .contact-form .form-type-checkbox input {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  h1.h-large, h2.h-large, .front h2.pane-title {
    font-size: 1.9em;
  }
  .navigation {
    margin-top: 100px;
  }
  header {
    nav {
      background: none;
    }
    .menu {
      > li > .nav-sub {
        display: none;
        background: url(../images/header/navbg.gif) repeat-x 0 -18px transparent;
        float: left;
        margin: 0 0 0 -10px;
        position: absolute;
        padding: 34px 10px 10px 10px;
        left: 0;
        font-size: 0.865em;
        z-index: 40;
        border-color: #f3901d;
        border-width: 2px;
        border-style: none solid solid;
        border-width: 0px 2px 2px 2px;
      }
      .grid-50, .grid-33, .grid-25, .grid-20, .grid-16, .grid-14, .grid-12 {
        display: inline-block;
        /*float: left;
        white-space: normal;  */
      }
      .grid-50 > a, .grid-33 > a, .grid-25 > a, .grid-20 > a, .grid-16 > a, .grid-14 > a, .grid-12 > a {
        display: inline-block;
        /*float: left; */
        color: #00457D;
        text-transform: none;
      }
      .grid-50 {
        width: 49%;
        margin-right: 1%;
      }
      .grid-33 {
        width: 32.33%;
        margin-right: 1%;
      }
      .grid-25 {
        width: 24%;
        margin-right: 1%;
      }
      .grid-20 {
        width: 19%;
        margin-right: 1%;
      }
      .grid-16 {
        width: 15.58%;
        margin-right: 1%;
      }
      .grid-14 {
        width: 13.00%;
        margin-right: 1%;
      }
      .grid-12 {
        width: 11.00%;
        margin-right: 1%;
      }
    }
    nav {
      ul ul {
        font-size: 1em;
      }
      > ul.menu > li > .nav-sub > ul {
        /* display: inline-table;*/
        background-color: #fff;
      }
    }
  }
  .menu > li > .nav-sub > ul > li {
    white-space: nowrap;
    /*display: table-cell;*/
  }
  header nav .dropdown-submenu > div > ul > li > a {
    font-size: 0.86em;
    color: #333;
    font-weight: normal;
    text-transform: none;
  }
  ul.dropdown-menu {
    width: 100%;
    display: table;
  }
  header {
    .dropdown-submenu {
      .nav-sub {
        background-color: #fff;
        display: inherit;
        position: relative;
      }
      .dropdown-menu {
        text-align: left;
        background-color: #fff;
        width: auto !important;
        li {
          a {
            text-align: left !important;
          }
          /*margin-bottom: 14px;*/
          white-space: normal;
          &.first {
            /*margin-top: 14px;*/
          }
        }
      }
    }
    li .nav-sub ul li li a {
      padding: 2px 0px;
    }
  }
  footer {
    .menu {
      .grid-100, .grid-50, .grid-33, .grid-25, .grid-16, .grid-14 {
        display: inherit;
        float: left;
        white-space: normal;
        padding: 0;
        margin: 5px 0;
        clear: both;
      }
    }
    nav {
      > ul > li {
        /*width: 112.5px ;*/
        margin: 0 10px 0 0;
        &.first {
          /*width: 60px*/
        }
        &.last {
          margin-right: 0;
        }
      }
      ul li div a {
        font-weight: normal;
        white-space: normal;
      }
    }
    .menu > .expanded > a {
      width: 100%;
    }
  }
  .mailchimp-lists-user-subscribe-form input[type=submit] {
    margin-top: 0;
  }
  .contact-form input[type=submit] {
    margin-left: 165px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header nav > ul > li > a {
    font-size: 1.04em;
  }
  .mailchimp-lists-user-subscribe-form input[type=submit] {
    margin-top: 18px;
    margin-left: 10px;
  }
  .carousel-container {
    width: 768px !important;
    height: auto !important;
    /*height: 136px !important;
    overflow: hidden;*/
    ul li {
      width: 768px !important;
      height: auto !important;
      /*height: 136px !important;*/
      .grid-65, .grid-35 {
        width: 100%;
        display: block;
      }
    }
  }
  /* line 801, ../sass/screen.scss */
  /* line 804, ../sass/screen.scss */
  .carousel-support {
    height: auto !important;
    margin: 0 !important;
    padding-right: -20px;
    background: none;
    .common-inner {
      background: white;
    }
  }
  /* line 810, ../sass/screen.scss */
  .carousel-container {
    width: 748px !important;
    /*height:136px !important;*/
    overflow: hidden;
    ul li {
      width: 748px !important;
      /*height:136px !important;*/
      overflow: hidden;
      img {
        /*margin-left:-113px;*/
      }
    }
  }
  /* line 943, ../sass/screen.scss */
  /* line 947, ../sass/screen.scss */
}

.inline-cleared-radio .description {
  padding-top: 9px !important;
}

/* Force from/to dates to float using inline-block, where it works, otherwise inline. */

.container-inline-date {
  width: auto;
  clear: both;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5em;
  /* LTR */
  .date-padding {
    padding: 0 !important;
  }
  .form-type-date-select {
    margin-bottom: 0 !important;
  }
  .form-item {
    float: none;
    padding: 0;
    margin: 0;
    .form-item {
      float: left;
      /* LTR */
    }
    width: auto;
    input {
      width: auto;
    }
  }
  .description {
    clear: both;
  }
  .form-item {
    input, select, option {
      margin-right: 5px;
      /* LTR */
    }
  }
  .date-spacer {
    margin-left: -5px;
    /* LTR */
  }
}

.views-right-60 .container-inline-date div {
  padding: 0;
  margin: 0;
}

.container-inline-date .date-timezone .form-item {
  float: none;
  width: auto;
  clear: both;
}

/* Fixes for date popup css so it will behave in Drupal */

#calendar_div {
  margin: 0;
  padding: 0;
  td, th {
    margin: 0;
    padding: 0;
  }
  width: 185px;
  border-collapse: separate;
  margin: 0;
}

.calendar_control, .calendar_links, .calendar_header {
  width: 185px;
  border-collapse: separate;
  margin: 0;
}

.calendar {
  width: 185px;
  border-collapse: separate;
  margin: 0;
  td {
    padding: 0;
  }
}

/* formatting for from/to dates in nodes and views */

span {
  &.date-display-single, &.date-display-start, &.date-display-end, &.date-display-separator {}
}

.date-repeat-input {
  float: left;
  /* LTR */
  width: auto;
  margin-right: 5px;
  /* LTR */
  select {
    min-width: 7em;
  }
}

.date-repeat fieldset {
  clear: both;
  float: none;
}

.date-views-filter-wrapper {
  min-width: 250px;
}

.date-views-filter input {
  float: left !important;
  /* LTR */
  margin-right: 2px !important;
  /* LTR */
  padding: 0 !important;
  width: 12em;
  min-width: 12em;
}

.date-nav {
  width: 100%;
  div {
    &.date-prev {
      text-align: left;
      /* LTR */
      width: 24%;
      float: left;
      /* LTR */
    }
    &.date-next {
      text-align: right;
      /* LTR */
      width: 24%;
      float: right;
      /* LTR */
    }
    &.date-heading {
      text-align: center;
      width: 50%;
      float: left;
      /* LTR */
      h3 {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.date-clear {
  float: none;
  clear: both;
  display: block;
}

.date-clear-block {
  float: none;
  width: auto;
  clear: both;
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  display: inline-block;
}

/*
 ** Markup free clearing that fixes unwanted scrollbars
 ** @see http://drupal.org/node/232959
 */

/* Hides from IE-mac \*/

* html .date-clear-block {
  height: 1%;
}

.date-clear-block {
  display: block;
}

/* End hide from IE-mac */

.date-container {
  .date-format-delete {
    margin-top: 1.8em;
    margin-left: 1.5em;
    float: left;
  }
  .date-format-name {
    float: left;
  }
  .date-format-type {
    float: left;
    padding-left: 10px;
  }
  .select-container {
    clear: left;
    float: left;
  }
}

/* Calendar day css */

div.date-calendar-day {
  line-height: 1;
  width: 40px;
  float: left;
  margin: 6px 10px 0 0;
  background: #F3F3F3;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  color: #999;
  text-align: center;
  font-family: Georgia, Arial, Verdana, sans;
  span {
    display: block;
    text-align: center;
    &.month {
      font-size: .9em;
      background-color: #B5BEBE;
      color: white;
      padding: 2px;
      text-transform: uppercase;
    }
    &.day {
      font-weight: bold;
      font-size: 2em;
    }
    &.year {
      font-size: .9em;
      padding: 2px;
    }
  }
}

/* NEW STYLES - Mariana */

.form-item-submitted-personal-information-title-select {
  height: 23px;
  margin: 0;
}

input.webform-calendar {
  padding: 0;
}

label.option {
  width: auto;
  margin-left: 10px;
}

#webform-component-personal-information--title .select-or-other.select-or-other-processed {
  height: 23px;
  color: green;
}

input.webform-calendar {
  padding: 0 3px;
}

.views-field {
  &.views-field-first-name, &.views-field-last-name {
    font-weight: bold;
  }
}

/* IE 8 */

.no-js.ie8 {
  #user-register-form {
    .form-type-select select, .form-type-country select {
      width: 238px;
    }
  }
  #user-profile-form {
    .form-type-select select, .form-type-country select {
      width: 238px;
    }
  }
  .contact-form select, .webform-client-form .webform-component-select select {
    width: 238px;
  }
}

.webform-container-inline {
  label.error {
    display: block;
    position: absolute;
    top: 19px;
    left: -66%;
  }
  &.webform-datepicker label.error {
    top: 24px;
  }
}

label.error {
  /*padding-left: 167px;*/
}

.fieldset-legend {
  font-weight: bold;
  display: block;
}


.pane-title.odd.odd td {
  padding: 11px 0 5px;
}

.field-name-field-date-of-birth .field-label, .field-name-field-support-prompt .field-label {
  font-weight: bold;
  margin: 21px 0 21px;
}

.last-name {
  margin-bottom: 13px;
  display: inline-block;
}


.contact-form .captcha {
  margin-left: 163px;
}

#recaptcha_response_field {
  background-color: #fff;
}




#console {
  margin-top: 10px;
  margin-bottom: 10px;
  .alert-block {
    padding: 15px;
  }
  .alert-error {
    background-color: pink;
  }
}





#console {
  .messages {
    padding: 10px;
    margin: 0 10px 2px 10px;
    &.status {
      background-color: #66d1a1;
      color: #064026;
    }
    &.warning {
      background-color: #f8d7a2;
      color: #7c4c00;
    }
    &.error {
      background-color: lighten(#e16b4b, 15%);
      color: #791a00;
    }
  }
}


body.front {
  .block-system {
    padding-bottom: 20px;
  }


}


.donate-container-simple {
  background-color: #ffffff;

  .quote p {
    font-size: 1.5em;
    margin: 20px 20px;
  }
}


#block-panels-mini-home-intros {
  .equal .button-wrapper-blue {
    margin-bottom: 0;
  }
}


.grid-container.home-four,
.grid-container.interest-four {
  .grid-parent {
    padding: 10px;
  }
}

.interest-four {
  h3 {
    font-size: 1.25em;
    margin: 0;
    padding: 0 0 5px 0;
    min-height: 40px;
  }

  .box-25-wrapper > h3 { padding: 20px 10px 0 10px; }

  .grid-25 h3 a {
    color: #333333;
    font-size: 17px;
    font-weight: normal;
  }
}

/************************************************************************************
LANDING PAGE (header_65_35)
*************************************************************************************/
.node-type-landing {
  .header-content {
    margin-bottom: 20px;
  }
  .no-padding {
    padding: 0;
  }
  .padding-20 {
    padding: 20px;
  }
  .common-image {
    position: relative;
  }
  .intro-copy {
    position: absolute;
    top: 0;
    height: 100%;
    width: 345px;
    padding: 30px 40px;
    background: url(/sites/all/themes/petermac/images/landing_intro_bg.jpg);
    background-size: cover;
    box-sizing: border-box;
    h1,h2,h3 {
      margin-top: 0;
    }
    h2, p {
      color: #fff;
    }
    @media(max-width: 1024px) {
        padding: 20px;
        width: 255px;
    }
    @media(max-width: 767px) {
        position: static;
        background: #fff;
        width: auto;
        padding: 20px;
        h2, p {
          color: #323232;
        }
    }
  }

  a.join-us {
    display: block;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2em;
    position: relative;
    &:hover {
      text-decoration: none;
      span {
        opacity: 0.8;
      }
    }
    &:after {
      content: " ";
      position: absolute;
      width: 15px;
      height: 9px;
      background: url(/sites/all/themes/petermac/images/down_arrow.png) no-repeat;
      background-size: contain;
      top: 18px;
      right: 10px;
    }
    @media(max-width: 767px) {
      border: 1px solid #92278f;
      color: #92278f;
      &:after {
        background: url(/sites/all/themes/petermac/images/down_arrow_purple.png) no-repeat;
        background-size: contain;
        top: 17px;
        right: 10px;
      }
    }
  }
  input[type=email] {
    height: 25px;
  }
  .form-item > label {
    display: block;
    position: static;
  }
  hr {
    height: 4px;
    color: #f2f6f8;
    background: #f2f6f8;
    font-size: 0;
    border: 0;
    margin: 20px 0;
  }
  article ul {
    list-style: disc;
    padding-left: 20px;
  }
  article ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  article li {
    margin-bottom: 15px;
    font-size: 1.2em;
  }
  article a {
    color: #ad3192;
    font-weight: 700;
  }
  .tshirt {
    @media(max-width: 767px) {
        float: none !important;
        clear: both;
    }
  }
  .field-name-field-supporter-image,
  .field-name-field-supporter-image-two {
    img {
      width: 100%;
    }
  }
  .field-name-field-supporter-image-two {
    margin-top: 20px;
  }
  .field-name-field-supporter-name,
  .field-name-field-supporter-name-two {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
  }
  &.hide-navigation {
    header {
      background: #fff;
      border-bottom: 1px solid #dcd6e5;
    }
    footer .grid-35,
    footer .grid-65,
    footer .hr-style,
    footer .breaker-20.clearfix,
    ul.links li,
    #breadcrumbs,
    #header-aux,
    #header-aux-links-mobile,
    #header-aux-donate-mobile,
    .grid-100.navigation,
    .mean-bar {
      display: none;
    }
    &.mean-container {
      padding-top: 0;
    }
    footer ul.links {
      text-align: center;
    }
    footer ul.links li.menu-1384,
    footer ul.links li.menu-1941 {
      display: inline-block;
    }
  }
  .grid-65, .grid-35 {
    height: auto !important;
  }
  footer .breaker-30 {
    @media(max-width: 767px) {
        height: 5px;
    }
  }
  div[id*="webform-ajax-wrapper"] {
    h1[property="dc:title"],
    .links {
      display: none;
    }
    .webform-submit {
      @media(max-width: 767px) {
          width: 100%;
      }
    }
  }
  .form-item label {
    font-weight: bold;
  }
  .ajax-progress-throbber {
    background: url(/sites/all/themes/petermac/images/ajax-loader.gif) no-repeat;
    height: 16px;
  }
  .hide-for-mobile {
    @media(max-width: 767px) {
        display: none;
    }
  }
}

/************************************************************************************
BASIC PAGE 65/35 (uses panel layout header_65_35)
*************************************************************************************/
.node-type-basic-page-65-35 {
  .header-content {
    margin-bottom: 20px;
    .in-grid-item-wrapper {
      background-color: #FFFFFF;
    }
    h1 {
      padding: 20px 20px 10px 20px;
    }
    .field-name-field-intro-copy {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      @media screen and (min-width: 768px) {
        width: 65%;
      }
      .field-item {
        padding: 0 20px 20px 20px;
      }
    }
  }
  .no-padding {
    padding: 0;
  }
  .padding-20 {
    padding: 20px;
  }
  .field-name-field-mainimage {
    line-height: 0;
    img {
      position: relative;
      width: 100%;
      height:auto;
    }
  }
  .left-content {
    h2 {
      margin: 10px 0 20px 0;
    }
    .common-image {
      margin-bottom: 25px;
    }
  }
  .right-content {
    .cta {
      border-bottom: 3px solid #F2F6F8;
      padding-bottom: 20px;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    a {
      color: #ad3192;
      font-weight: 400;
      font-size: 1em;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
      &:hover {
        color: #ad3192;
      }
    }
  }
}

/************************************************************************************
FUNDRAISING
*************************************************************************************/

.fundraising-ideas,
.fundraising-resources,
.fundraising-checklist {
  .grid-25 {
    @media screen and (min-width: 767px) {
      min-height: 210px;
    }
    @media screen and (min-width: 1024px) {
      min-height: 245px;
    }
    text-align: center;
    border-top: 3px solid #F2F6F8;
    padding-top: 35px;
    margin-top: 35px;

    h4 {
      margin-top: 0;
    }

    .fundraising-icon-large img {
      height: 86px;
    }
    a {
      color: #ad3192;
      border-bottom: 1px solid #ad3192;
      padding-bottom: 1px;
      &:hover {
        color: #ad3192;
        text-decoration: none;
        border-bottom: none;
      }
    }
  }
}

.fundraising-hero {
  .grid-40 {
    @media screen and (min-width: 1024px) {
      .common-inner {
        padding-right: 10px;
      }
    }
  }
  .grid-60 {
    @media screen and (min-width: 1024px) {
      .common-inner {
        padding-left: 10px;
      }
    }
    p {
      margin: 0 0 20px;
    }
  }
  .common-image {
    margin-bottom: 0;
  }
}

.fundraising-checklist {
  padding-top: 0;

  @media screen and (max-width: 768px) {
    padding: 0;
    h3 {
      margin: 0;
      padding: 20px;
      // Image state is reversed due to this section defaulting to Open.
      background: url("../images/buttons/minus-white.png") no-repeat right 10px center/18px 18px;
      background-color: #92278F;
      color: #FFF;
      font-weight: 400;
      cursor: pointer;
    }

    .expandable {
      .breaker-20,
      .hr-style{
        height: 0;
      }
    }
    .expanded {
      h3 {
        // Image state is reversed due to this section defaulting to Open.
        background: url("../images/buttons/plus-white.png") no-repeat right 10px center/18px 18px;
        background-color: #92278F;
      }
    }
    .expandable-content {
      padding: 20px;
    }
    .start-closed {
      h3 {
        margin: 0;
        padding: 20px;
        background: url("../images/buttons/plus-white.png") no-repeat right 10px center/18px 18px;
        background-color: #92278F;
        color: #FFF;
        font-weight: 400;
        cursor: pointer;
      }
      .expanded {
        h3 {
          background: url("../images/buttons/minus-white.png") no-repeat right 10px center/18px 18px;
          background-color: #92278F;
        }
      }
      .expandable-content {
        display:none;
        padding: 20px;
      }
    }
  }
  .grid-25 {
    @media screen and (max-width: 768px) {
      background: url("../images/down-arrow-step.png") no-repeat;
      background-position: bottom;
      background-size: 14px 26px;
      padding-right: 0;
      margin-bottom: 0;
      padding-bottom: 40px;
      &:last-child {
        background: none;
        padding-right: 0;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      &:nth-child(even) {
          background: none;
          padding-right: 0;
      }
    }
    @media screen and (min-width: 1024px) {
      &:last-child {
        background: none;
        padding-right: 0;
      }
    }
    background: url("../images/right-arrow-step.png") no-repeat;
    background-size: 26px 14px;
    background-position: right 60px;
    border-top: none;
    padding: 20px 26px 20px 0;
    margin: 0 0 20px 0;
  }
}

.fundraising-ideas {
  @media screen and (max-width: 768px) {
    padding: 0;
    h2 {
      margin: 0;
      padding: 20px;
      background: url("../images/buttons/minus-white.png") no-repeat right 10px center/18px 18px;
      background-color: #92278F;
      color: #FFF;
      font-weight: 400;
      cursor: pointer;
    }

    .expanded {
      h2 {
        background: url("../images/buttons/plus-white.png") no-repeat right 10px center/18px 18px;
        background-color: #92278F;
      }
    }

    .expandable-content {
      padding: 20px;
    }
  }
  .expandable-content {
    display: block;
  }
}

.fundraising-resources {
  @media screen and (max-width: 768px) {
    padding: 0;
    h2 {
      margin: 0;
      padding: 20px;
      background: url("../images/buttons/minus-white.png") no-repeat right 10px center/18px 18px;
      background-color: #92278F;
      color: #FFF;
      font-weight: 400;
      cursor: pointer;
    }

    .expanded {
      h2 {
        background: url("../images/buttons/plus-white.png") no-repeat right 10px center/18px 18px;
        background-color: #92278F;
      }
    }

    .expandable-content {
      padding: 20px;
    }
  }
  .grid-25 {
    .file-icon {
      display: none
    }
    a {
      color: #323232;
      border-bottom: 1px solid #323232;
      &:hover {
        color: #323232;
      }
    }
  }
}

.promoted-two {

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .views-row-first {
      .promoted-two-content {
        padding-right: 10px;
      }
    }
    .views-row-last {
      .promoted-two-content {
        padding-left: 10px;
      }
    }
  }

  .promoted-two-content {
    h2 {
      margin-bottom: 25px;
    }

    @media screen and (min-width: 1024px) {
      p:first-of-type {
        margin-top: 0;
      }
      .left-content {
        padding-right: 10px;
      }
      .right-content {
        padding: 0 20px 0 10px;
      }
    }
  }
}

// Call To Action block icons

.pane-block.cta {
  @media screen and (min-width: 1025px) {
    padding-left: 70px;
    background-position: top left;
  }
  @media screen and (max-width: 1024px) {
    padding-top: 70px;
    background-position: center 25px;
    text-align: center;
  }
}
.cta-money {
  background: url("../images/icons/icon-money.png") no-repeat;
  background-size: 50px 50px;
}
.cta-question {
  background: url("../images/icons/icon-question.png") no-repeat;
  background-size: 50px 50px;
}
.cta-contact {
  background: url("../images/icons/icon-contact.png") no-repeat;
  background-size: 50px 50px;
}
.cta-tools {
  background: url("../images/icons/icon-tools.png") no-repeat;
  background-size: 50px 50px;
}
.cta-ideas {
  background: url("../images/icons/icon-ideas.png") no-repeat;
  background-size: 50px 50px;
}

/************************************************************************************
FAQs
*************************************************************************************/

.faq-content-wrapper {
  .grid-65,
  .grid-35 {
    height: auto !important;
  }
  .left-content {
    background-color: #FFF;
    padding: 20px;
    .pane-faqpage {
      margin-top: 20px;
    }
    .faq-question-answer {
      //background-color: #F9F9F9;
      border-top: 3px solid #f2f6f8;
      padding: 0;
    }
    .faq-question {
      a:focus {
        outline: none;
      }
      @media screen and (max-width: 768px) {
        background: url("../images/down_arrow_purple.png") no-repeat 8px 25px/20px 12px;
        padding: 0;
        a {
          display: block;
          padding: 22px 10px 22px 35px;
          line-height: 1.25em;
          font-size: 1.25em;
          font-weight: bold;
          color: #333333;
          &:hover {
            color: #ad3192;
            text-decoration: none;
          }
        }
      }
      @media screen and (min-width: 768px) {
        background: url("../images/down_arrow_purple.png") no-repeat 28px 26px/20px 12px;
        padding: 0;
        a {
          display: block;
          padding: 22px 40px 22px 80px;
          line-height: 1.25em;
          font-size: 1.5em;
          font-weight: bold;
          color: #333333;
          &:hover {
            color: #ad3192;
            text-decoration: none;
          }
        }
      }
    }
    .faq-qa-visible {
      @media screen and (max-width: 768px) {
        background: #F9F9F9 url("../images/up_arrow_purple.png") no-repeat 8px 25px/20px 12px;
      }
      @media screen and (min-width: 768px) {
        background: #F9F9F9 url("../images/up_arrow_purple.png") no-repeat 28px 28px/20px 12px;
      }
      a {
        color: #AD3192;
      }
    }
    .faq-answer {
      @media screen and (max-width: 768px) {
        padding: 0 10px 20px 35px;
      }
      @media screen and (min-width: 768px) {
        padding: 0 40px 20px 80px;
      }
      p:first-of-type {
        margin-top: 0;
      }
    }
    .faq-qa-visible + .faq-answer {
      background-color: #F9F9F9;
    }
  }
}

/************************************************************************************
MAIN
*************************************************************************************/

// A narrow background image has been used here so that it displays on iPhone 5 etc i.e. max width of 1024px
#main {
  @media screen and (max-width: 768px) {
    background: url("../images/background-narrow.jpg");
  }
}

/************************************************************************************
WIDTH RESTRICTIONS
*************************************************************************************/

// Bit of a hack to pull the width of content in in certain places.
.restricted-width-65 {
  @media screen and (min-width: 1024px) {
    width: 65%;
  }

}

.fundraising-ideas .view-header,
.fundraising-resources .view-header,
.restricted-width-75 {
  @media screen and (min-width: 1024px) {
    width: 75%;
  }
}

/************************************************************************************
FUNDRAISING APPLICATION FORM
*************************************************************************************/

.on-image-intro {

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    padding: 0 20px;
    width: 305px;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    h1 {
      margin-top: 45px;
    }
    h1 {
      color: #3E216E;
    }
  }
  @media screen and (max-width: 1024px) {
    position: absolute;
    width: 215px;
    h1 {
      margin-top: 25px;
    }
  }
  @media screen and (max-width: 768px) {
    position: static;
    margin-bottom: 20px;
    padding: 25px 20px 20px;
    width: auto;
    background-color: #FFF;
    h1 {
      margin-top: 0;
    }
    h1,
    p {
      color: #323232;
    }
  }
}

.fundraising-application-form {
  @media screen and (max-width: 768px) {
    .mobile-grid-100 {
      padding: 0;
    }
  }
  @media screen and (min-width: 768px) {
    .webform-content-left {
      &.grid-50,
      &.tablet-grid-50 {
        padding-left: 0;
        padding-right: 40px;
      }
    }
    .webform-content-right {
      &.grid-50,
      &.tablet-grid-50 {
        padding-right: 0;
        padding-left: 40px;
      }
    }
  }
  font-size: 14px;
  // color: #939393;

  label.error {
    color: #f00 !important;
    padding-left: 0;
    position: static;
    font-weight: bold !important;
  }

  ul {
    list-style: inherit;
    list-style-position: outside;
    margin-left: 15px;
     li {
       padding-left: 5px;
       margin-bottom: 15px;
     }
  }

  .fieldset-description {
    margin-bottom: 20px;
  }

  .select-or-other {
    display: block;
  }

  .webform-component-textfield {
    width: 100%;
  }
  label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #323232;
    &.element-invisible {
      width: auto;
    }
  }

  input[type=text],
  input[type=email],
  input[type=number],
  select.day,
  select.month,
  select.year,
  .form-control,
  .form-type-select .select-or-other-select,
  .webform-component-select select {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 42px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.48;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  select.day,
  select.month,
  select.year {
    width: auto;
    display: inline-block;
  }

  .form-type-select .select-or-other-select {
    text-indent: 5px;
  }

  .select-or-other .form-item {
    margin-bottom: 0;
  }

  .form-textarea {
    height: auto;
    resize: vertical;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-actions {
    text-align: right;
    input[type=submit] {
      background: url('../images/buttons/right-arrow.png') no-repeat right 15px center #AD3192;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      &.webform-previous {
        margin-right: 20px;
        padding: 16px 16px 16px 40px;
        background: url('../images/buttons/left-arrow.png') no-repeat left 15px center #AD3192;
      }
    }
  }

  .webform-component--income-and-expenses {
    label {
      padding-top: 10px;
      margin-right: 0;
      font-weight: normal;
      // color: #939393;
    }
    input {
      display: inline-block;
    }
    @media screen and (max-width: 1024px) {
      label {
        display: block;
        width: 100%;
      }
      input {
        width: 95%;
      }
    }
    @media screen and (min-width: 1024px) {
      label {
        padding-top: 10px;
        margin-right: 0;
        width: 60%;
        font-weight: normal;
        // color: #939393;
      }
      input {
        width: 36%;
      }
    }
  }

  .form-type-checkbox {
    label {
      display: inline;
      vertical-align: middle;
      width: initial;
      padding-top: 0;
      font-weight: normal;
    }
  }

  .form-type-radio {
    label {
      margin-left: 0;
      margin-right: 10px;
      padding-top: 2px;
      font-weight: normal;
    }
  }

  .webform-component--raffles-and-auctions {
    label {
      font-weight: normal;
    }
  }

  .fieldset-legend {
    font-size: 14px;
    color: #323232;
  }

  // All part of the cunning plan to change the dates into one field.
  .webform-container-inline.webform-datepicker {
    display: block;
    .form-item.form-type-select {
      // display: none;
    }
  }

  input.hasDatepicker  {
    background: url('../images/calendar.png') no-repeat;
    width: 0;
    height: 16px;
    background-size: 16px 20px;
    background-position: right 10px center;
    padding-left: 36px;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .webform-component-formula {
    .field-prefix {
      color: #323232;
      font-weight: 600;
    }

    #formula-component-total_expenses,
    #formula-component-total_income,
    #formula-component-total_estimated_proceeds_to_peter_mac {
      padding: 11px 13px 11px 0;
      display: inline-block;
      color: #ad3192;
      font-weight: 600;
    }

    #formula-component-total_estimated_proceeds_to_peter_mac {
      border-top: 1px solid #323232;
      border-bottom: 1px solid #323232;
      @media screen and (max-width: 1024px) {
        width: 85%;
      }
      @media screen and (min-width: 1024px) {
        width: 29%;
      }
    }
  }

  .webform-component--how-will-the-proceeds-be-allocated-to-peter-mac {
    @media screen and (max-width: 1024px) {
      .form-type-radio {
        display: block;
      }
    }
  }

  .webform-component--do-you-agree-to-the-following-statements {
    > legend {
      padding-top: 3px;
    }
  }

  #edit-submitted-do-you-agree-to-the-following-statements-agree-to-terms-and-conditions {
    > div.form-item {
      display: block;
    }
  }

}

/************************************************************************************
WEBFORM PROGRESSBAR OVERRIDES
*************************************************************************************/

.webform-progressbar {
  width: auto;
  text-align: left;

  .webform-progressbar-outer {
    margin: 40px 0 45px 0;
    height: auto;
    border: none;
    width: inherit;
  }

  .webform-progressbar-page {
    @media screen and (max-width: 768px) {
      padding: 10px 10px 10px 22px;
    }
    @media screen and (min-width: 768px) {
      padding: 10px 10px 10px 25px;
    }
    position: relative;
    padding: 10px 10px 10px 25px;
    width: inherit;
    height: inherit;
    margin: 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: transparent;
    background: url("../images/grey-triangle.png") no-repeat left/15px 40px;
    &:first-of-type {
      @media screen and (max-width: 768px) {
        padding-left: 13px;
      }
      @media screen and (min-width: 768px) {
        padding-left: 15px;
      }
      border-left:  1px solid #CCC;
      border-radius: 3px 0 0 3px;
    }
    &:last-of-type {
      @media screen and (max-width: 768px) {
        padding-right: 15px;
      }
      @media screen and (min-width: 768px) {
        padding-right: 20px;
      }
      border-right:  1px solid #CCC;
      border-radius: 0 3px 3px 0;
    }
    &.current {
      color: #FFF;
      border-color: #AB3690;
      background: url("../images/white-triangle.png") no-repeat left -1px center/15px 40px;
      background-color: #AB3690;
    }
    &.completed {
      background-color: transparent;
      background: url("../images/grey-triangle.png") no-repeat left/15px 40px;
    }
    &.first {
      background: none;
      &.current {
        background-color: #AB3690;
      }
    }
    &.next {
      background: url("../images/purple-triangle.png") no-repeat left -1px center/15px 40px;
    }

    .webform-progressbar-page-label {
      @media screen and (max-width: 768px) {
        display: none;
      }
      margin: 0;
      position: static;
    }

    .webform-progressbar-page-number {
      @media screen and (max-width: 768px) {
        display: inline-block;
        font-size: 11px;
      }
    }
  }
}

/************************************************************************************
GENERAL
*************************************************************************************/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.description {
    padding: 0 0 6px 0;
}
