@import "compass/reset";
@import "fonts";
@import "grid";
@import "base";
@import "partials/unsemantic-vars";
/************************************************************************************
GENERAL STYLING
*************************************************************************************/

html{
    min-height: 100%;
}
body{
    background: $white;
    font-size:12px;
    font-family: Arial,Helvectica,sans-serif;
    color:$dark-grey;
    line-height:1;
}

h1, h2, h3, h4, h5, h6{
    color: #333333;
    font-weight:bold;
    margin:25px 0 10px 0;
    display:block;
    line-height:1.2;
}
h1{
  font-size:1.83em;
}

h1.h-large,
h2.h-large{
  font-size:2.16em;
}

h2{
  font-size:1.66em;
}
h3{
  font-size:1.5em;
}
h4{
  font-size:1.33em;
}
.no-top-margin{
    margin-top:0 !important;
}
.h-style{
    color:$logo-blue;
    font-weight:bold;
}
p{
    margin:10px 0;
    line-height:1.4;
    color: #323232;
}
li{
   line-height:1.4;
}
b{
    font-weight:bold;
}
.pml{
    font-size:1.33em;
}
.pm{
    font-size:1.16em;
}
.pms,
.image-caption{
   font-size:.95em;
}
.common-inner{
    background:$white;
}
.common-inner.left-float{ float:left; }
.common-inner.left-float-100{ float:left; width:100%; }
.common-image{
    line-height: 0;
    width:100%; height:auto;
}
    .common-image img{
        width:100%; height:auto;
    }
img.in-text-image {
    line-height: 0;
    float:right;
    width:50%; height:auto;
    padding: 0 0 10px 20px;
}
a.common-more{
    color:$logo-orange;
    font-weight:bold;
    text-decoration:none;
}
a.common-more:before{
    content: "\00BB  ";
}
a.common-more:hover{
    color:$logo-blue;
}
.hr-style{
    @include hr-style;
    background:$hr-blue;
}
.hr-style.top-20{ margin-top:20px; }
.hr-style.margin-10{ margin:10px 0; }
.hr-style.block{ display:block;}
/*.marg-10-box{
    float:left;
    margin:0 0 0 10px;
}*/
/************************************************************************************
STRUCTURE
*************************************************************************************/
#wrapper{

}
.breaker-10{ height:10px; }
.breaker-20{ height:20px; }
.breaker-30{ height:30px; }
.breaker-100{ height:100px; }
.right-align{ text-align:right; }
.left-align{ text-align:left; }
.pad-10-wrapper{
    padding:10px;
}
.pad-10-wrapper-horizontal{
    padding:0 10px;
}
.pad-10-wrapper-vertical{
    padding:10px 0;
}

.pad-20-wrapper{
    padding:20px;
}
.pad-20-wrapper-horizontal{
    padding:0 20px;
}
.pad-20-wrapper-vertical{
    padding:20px 0;
}

.no-left-padding{ padding-left:0 !important; }
.no-right-padding{ padding-right:0 !important; }
.no-padding{ padding:0 !important; }
/************************************************************************************
HEADER
*************************************************************************************/
header{
    background:$white url(../images/header/background.png) repeat-x left bottom;
    border-top: 5px solid #92278f;
    .button-wrapper-green{
        @media(max-width: 767px){
            margin-top: -39px;
        }
    }
    .donate-icon{
        background: url(../images/donate-footer.png) no-repeat left center;
        display: inline-block;
        width: 44px;
        height: 34px;
        margin: -3px 8px 0 0;
        position: absolute;
        left: 6px;
        top: 5px;
    }
}
#header-logo{}
#header-logo h1{margin:0; padding:0; line-height:0;}
#header-logo a{
    @include image-link;
    width:278px; height:84px;
    background:url(../images/header/logo-peter-mac.png) no-repeat top left;
    margin:12px 0 6px 10px;
}
#header-aux{

}
#header-aux-links{
    margin-top:15px;
    margin-bottom:21px;
    text-align:right;
}
#header-aux-links a{
    @include header-aux-links-a;
}
#header-aux-links a:hover{
    color:$logo-blue;
}
#header-aux-social{

}
#header-aux-search{

}
.not-logged-in {
    #header-aux-links a, #header-aux-links-mobile a{
        display:none;
    }
}
#header-aux-social a{
    @include image-link;
    width:30px; height:30px;
    margin-left:13px;
}
#header-aux-social .facebook{
    background:url(../images/header/icon-facebook.png) no-repeat top left;
    margin-top: 7px;
}
#header-aux-social .twitter{
    background:url(../images/header/icon-twitter.png) no-repeat top left;
    width:42px;
    vertical-align: bottom;
}
#header-aux-social .share{
    background:url(../images/header/icon-share.png) no-repeat top left;
}
#header-aux-donate{

}
/************************************************************************************
HEADER NAVIGATION
*************************************************************************************/
header nav{
    margin:24px 10px 2px 10px;
    background:$logo-orange url(../images/header/background.png) repeat-x left -16px;
}
header nav.donate-nav{
    width:40%;
}
header nav ul{
    text-align: justify;
    font-size:1.16em;
}
header nav ul li{
    display: inline;
    white-space: nowrap;
}
header nav ul li.spanner{
    display: inline-block !important;
    width: 100% !important;
}
header nav ul li a{
    text-transform:uppercase;
    font-weight:bold;
    color:$logo-blue;
    text-decoration:none;
    text-align: center !important;
    display:inline-block;
}
header nav ul li a:hover,
header nav ul li.current_page_item a{
   color:$white;
}

/************************************************************************************
MAIN
*************************************************************************************/
#main{
    background: url(../images/background.jpg);
    padding-top:$gutter-half * 2;

}
/************************************************************************************
BREADCRUMBS
*************************************************************************************/
#breadcrumbs{
    font-size:.95em;
    margin-top:-6px;
    margin-bottom:10px;
    /*padding-left:$gutter-half * 2;*/
    color: $black;
}
#breadcrumbs a{
    color: $black;
    text-decoration:none;
}
#breadcrumbs a:hover{
    text-decoration:underline;
}
/************************************************************************************
FOOTER
*************************************************************************************/
footer{
    background:$pale-blue;
    display: block;
    background: #eb01a5;
    background-image: url(../images/footer-shapes.png);  /* fallback */
    background-image: url(../images/footer-shapes.png), linear-gradient(to right,#431e75, #91278f); /* W3C */
    color: #fff;
    background-repeat: no-repeat;
    background-position: center bottom;
    h4{
        font-size: 22px;
        font-weight: 300;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .field-content{
        font-size: 15px;
    }

    .common-more a{
        color: #d082bf;
        font-size: 15px;
        &:hover{
             color: #d082bf;
        }
    }
    .donate-icon{
        background: url(../images/donate-footer.png) no-repeat left center;
        display: inline-block;
        width: 44px;
        height: 34px;
        margin: 5px 8px 0 9px;
        float: left;
    }
    .button-wrapper-green{
        width: 95%;
        @media(max-width: 1024px){
            width: 100%;
        }
    }
    .button-wrapper-blue.large{
      color: white;
      display: block;
      font-size: 15px;
      text-decoration: none;
      /* text-transform: uppercase;*/
      border: 1px solid #FFFFFF;
      margin: 0 0 10px 0;
      text-transform: uppercase;
      border-radius:0;
      width: 95%;
       @media(max-width: 1024px){
            width: 100%;
        }
      padding: 0;
      background: #ad3192 no-repeat;
      display: inline-block;
      overflow: hidden;
      position: relative;
      background-image: url(../images/buttons/right-arrow.png);
      background-position: right 10px center;
      background-color: transparent;
      behavior: url(/sites/all/themes/petermac/styles/pie/PIE.php);
      a{
        font-size: 16px;
        line-height: 15px;
        width: 100%;
        height: 19px;
        @media(max-width: 1024px){
            height: 19px;
            font-size: 14px;
            line-height:16px;
        }
      }
    }
}
#news{}
#news ul{}
#news ul li{ margin-bottom:10px;}
#news ul li span{
    display:block;
    line-height:1.5;
}
#sub-footer{
    color:$black;
    font-size:.85em;
    text-align:center;
    padding: 40px 0;
    background-color: #FFFFFF;
}
/************************************************************************************
FOOTER NAVIGATION
*************************************************************************************/
footer nav{
    margin:5px 10px 15px;
}
footer nav ul{
    text-align: justify;
    font-size:.95em;
}
footer nav ul li{
    display: inline-block;
    white-space: nowrap;
    text-align: left !important;
}
footer nav ul li ul{
    /*float:left;*/
}
footer nav ul li ul li{
    float:left;
    display:block;
    clear:both;
    margin-top:4px;
}
footer nav ul li.spanner{
    display: inline-block !important;
    width: 100% !important;
}
footer nav ul li a{
    text-decoration:none;
    display:inline-block;
    color: #d082bf;
    font-size: 15px;
    font-weight: lighter;
}
footer nav ul li ul li a{
    font-weight:normal;
}
footer nav ul li a:hover,
footer nav ul li.current_page_item a{
   color:$logo-orange;
}
footer .hr-style{
    @include hr-style;
    height:1px;
    background:#d082bf;
}
/************************************************************************************
CAROUSEL
*************************************************************************************/
#carousel-container{
    width:617px; height:300px;
    overflow:hidden;
}
#carousel-container ul li{
    display:inline;
    width:617px; height:300px;
    float:left;
}
#carousel-container img{
   line-height:1;
   width:100%; height:auto;
}
#carousel-support{
    position:relative;
    background:$white;
    margin-left:-$gutter-half;
    height:300px;
}
#carousel-support .common-inner{
    padding:10px 10px 0 10px;
}
#carousel-pagination{
    position: absolute;
    left:0; bottom:10px;
    width:100%;
    text-align:center;
}
#carousel-pagination a{
    @include image-link;
    width:9px; height:9px;
    background:url(../images/buttons/carousel-pagination.png) 0 -30px no-repeat;
    margin:0 7px;
}
#carousel-pagination a:hover,
#carousel-pagination a.selected{
    background-position:0 0;
}
/************************************************************************************
BUTTONS
*************************************************************************************/
.button-wrapper-green{
    @include button-wrapper;
    background-color:$btn-green;
    background-image:url(../images/buttons/background-green.png);
    text-transform:uppercase;
    font-weight:bold;
}
.button-wrapper-transparent{
    @include button-wrapper;
    background-color:$btn-green;
    background:url(../images/buttons/heart.png) no-repeat;
    background-position: left;
    text-transform:uppercase;
    font-weight:bold;
}
.button-wrapper-transparent a{
    color: #ad3192 !important;
    padding: 8px 28px 7px 40px !important;
}

.button-wrapper-blue{
    @include button-wrapper;
    background-color:$btn-blue;
    background-image:url(../images/buttons/background-blue.png);
}
.large{
    padding:12px 12px 12px 12px;
}
.set-width{
    width:250px;
}
.large.enews,
.large.facebook,
.large.twitter{
    padding-bottom:4px !important;
}
.large a{
    padding-left:0px !important;
    padding-right:8px !important;
    min-width:200px;
    font-weight:bold !important;
    padding-left:0 !important;
}
.button-wrapper-green.large{
    @include button-wrapper;
    background-image:url(../images/buttons/background-green-large.png);
}
.button-wrapper-blue.large{
    @include button-wrapper;
    background-image:url(../images/buttons/background-blue-large.png);
}
.button-wrapper-blue.large a{
   background-position:right 7px;
}
.button-wrapper-blue a .icon{
    display:inline-block;
    left:10px;
    width:44px; height:34px;
    margin:-12px 8px 0 0;
    float: left;
    position: absolute;
    vertical-align:text-top;
}
.button-wrapper-blue.enews a,
.button-wrapper-blue.facebook a,
.button-wrapper-blue.twitter a{
    padding-bottom:6px !important;
}

.button-wrapper-blue.enews a .icon{
    background:url(../images/buttons/background-enews.png) no-repeat left center;
}
.button-wrapper-blue.facebook a .icon{
    background:url(../images/buttons/background-facebook.png) no-repeat left center;
}
.button-wrapper-blue.twitter a .icon{
    background:url(../images/buttons/background-twitter.png) no-repeat left center;
}
.button-wrapper-green.donation span{ /* <-- used in the donation form ----------*/
   padding-left:0px !important;
}
/************************************************************************************
THREE COLOUR STRIP
*************************************************************************************/
.three-color-strip{
    position:relative;
    width:100%;
    float:left;
    display: none;
}
.three-color-strip .left{
    float:left;
    width:50%; height:7px;
    background:$logo-blue;
}
.three-color-strip .right{
    float:left;
    width:50%; height:7px;
    background:$logo-red;
}
.three-color-strip .center{
    position:absolute;
    left:50%; top:0;
    width:33.33%; height:7px;
    margin-left:-16.66%;
    background:$logo-orange;
}
/************************************************************************************
FORM GENERAL
*************************************************************************************/
.no-show-label{
    position:absolute;
    left:0; top:0;
    width:0; height:0;
    overflow:hidden;
}
/*.input[type=submit]*/
.input-wrapper{
    border: 1px solid #CECECE;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background:$white;
    display:inline-block;
    float:left;
}
input[type=text]{
    border:none 0;
    background:transparent;
    position:relative;
    padding:6px 0 6px 12px;
    font-size:16px;
    color: 707070;
    height: 25px;
}
button{
    background:none;
    border:none;
    color:#ffffff;
    font-weight:normal;
    text-align:left;
    padding:0;
}
button.no-show-text{
    text-indent:150%;
    overflow:hidden;
}
button .button-wrapper-blue span{
    display:block !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}
button .button-wrapper-green span{
    display:block !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}
/************************************************************************************
SEARCH WRAPPER
*************************************************************************************/
#search-block-form{
    position:relative;
    width:100%;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background:#f6f6f8;
}
.search-input{
    border:none 0;
    background:$white;
    position:relative;
    padding:6px 0 7px 12px !important;
    width:98%;
}
.search-submit{
    position:absolute;
    right:0; top:0;
    width:2.4em; height:100%; /*2.2em*/;
    min-width:32px;
    text-indent:150%;
    display: inline-block;
    background:url(../images/buttons/search-magnifying-glass.png) no-repeat center center;
    border:none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/************************************************************************************
DONATE BUTTONS
*************************************************************************************/
.donate-label-wrapper{
    background: $logo-blue url(../images/buttons/background-donate-blue.png) repeat-x left top;
    width:100%; min-height:92px;
    display:inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    position:relative;
    overflow:hidden;
}
.donate-label-wrapper.selected{
    background: $logo-orange url(../images/buttons/background-donate-orange.png) repeat-x left top;
}
.donate-label-wrapper input[type=radio]{
    display:block;
    float:left;
    margin:39px 0 0 17px;
}
.donate-label-wrapper .donate-radio-label{
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    color:$white;
    font-weight:bold;
    font-size:2.13em;
    padding:34px 0 0 34px;
    z-index:1;
}
.donate-label-wrapper .donate-input-wrapper{
    position:absolute;
    top:33px; left:54px;
    z-index:2;
}
.donate-label-wrapper .donate-input-wrapper input[type=text]{
    background:$white;
    width:53px;
    font-size:1.2em;
    padding:6px 0 6px 1px !important;
}
.donate-label-support{}
/************************************************************************************
DONATE FORM
*************************************************************************************/
.details-donation-form{
}
.details-donation-form ul{
    display:block;
    width:100%;
}
.details-donation-form li{
    margin-bottom:10px;
}
.details-donation-form li.standard-text-input{
    display:block;
    float:left;
    clear:both;
    width:90%;
}
.details-donation-form li.standard-text-input .col-a{
    display:inline-block;
    position:relative;
    width:150px;
    margin-right:10px;
}
.details-donation-form li.standard-text-input .col-b{
    display:inline-block;
    position:relative;
}
.details-donation-form li.standard-text-input .col-b input[type=text]{
    padding:3px;
    border:1px solid $dark-grey;
    font-size:1em;
    width:230px;
}
.details-donation-form li.standard-text-input .col-b span{
    margin:0 10px;
}
.details-donation-form li.standard-text-input .col-b input[type=text].short{
    width:30px !important;
}
.details-donation-form li.standard-text-input .col-b select{
    padding:3px;
    border:1px solid $dark-grey;
    font-size:1em;
    min-width:230px;
}

.details-donation-form li.inline-radio-input{
    display:inline-block;
    text-align:center;
    padding:0 20px 0 10px;
    min-width: 38px;
}
.details-donation-form li.inline-radio-input input[type=radio]{
    display:block;
    margin:0 auto 10px;
}
.details-donation-form li.inline-radio-input input[type=text]{
    display:inline-block;
    border:1px solid $dark-grey;
    margin-top:19px;
    padding:3px;
    width:73px;
}

.details-donation-form li.standard-radio-input{
    margin-bottom:10px;
    clear:both;
    display:table;
    float:left;
}
.details-donation-form li.standard-radio-input .col-a{
    display:table-cell;
    text-align:center;
    padding: 0 10px 0 10px; /* <-- to align with the first radio input of the inline form, may change */
}
.details-donation-form li.standard-radio-input .col-b{
   display:table-cell;;
}
.details-donation-form li.standard-radio-input.with-text-field{
    margin-bottom:10px;
    clear:both;
    display:inline-block;
    float:left;
}
.details-donation-form li.standard-radio-input{}
.details-donation-form li.standard-radio-input.with-text-field .col-a{
    display:inline-block;
    width:21px;
}
.details-donation-form li.standard-radio-input.with-text-field .col-b{
    display:inline-block;
}
.details-donation-form li.standard-radio-input.with-text-field .col-b textarea{
    background:$white;
    position:relative;
    padding:3px;
    border:1px solid $dark-grey;
    font-size:1em;
    font-family: Arial, Helvectica, sans-serif;
    width:350px;
    height:60px;
}
/************************************************************************************
IMAGE LINKS
*************************************************************************************/
.fundraising{ @include image-link; background: url(../images/logos/fundraising-standards-borad.png) left top no-repeat; width:42px; height:52px; margin-right:10px; }
.secured{ @include image-link; background: url(../images/logos/secured-by-thawte.png) left top no-repeat; width:56px; height:52px; }
/************************************************************************************
LISTS
*************************************************************************************/

.mean-container .mean-bar {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    float: none !important;
}

.mean-container {
    padding-top: 50px;
}

html body.admin-menu.mean-container {
    .mean-bar  {
        top: 29px !important;
    }
}

#admin-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.sf-menu a:hover{
    color: #521144  !important;
}

.sf-menu a{
    color: #ad3192 !important;
}
.sf-menu ul{
    border:none !important;
    li{
        border-bottom: 1px solid #d9d2e3 !important;
    }
}


.webform-client-form {
    #webform-component-my-peter-mac-story {
        .form-textarea-wrapper {
            display: block;
        }
        textarea {
            width: 97%; // Strange sizings in this form.
            min-height: 450px;
        }
    }
}


/************************************************************************************
FEATURE SPECIFIC
*************************************************************************************/
/*html.touch .grid_item_title{ display:block !important; }*/
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

@media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max){
    /************************************************************************************
    GENERAL STYLING
    *************************************************************************************/
    h1{
      font-size:1.5em;
    }
    h1.h-large,
    h2.h-large{
      font-size:1.5em;
    }
    h2{
      font-size:1.5em;
    }
    .pml{
        font-size:1em;
    }
    .pm{
        font-size:1em;
    }
    /************************************************************************************
    HEADER NAVIGATION
    *************************************************************************************/
    header{
        border-top: 5px solid #92278f;
    }
    header nav{
        margin-bottom:4px !important;
    }
    header nav ul{
        font-size:1em !important;
        font-weight:1000;
    }
    /************************************************************************************
    BUTTONS
    *************************************************************************************/
    #header-aux-donate .button-wrapper-green a{
        font-size:1.1em !important;
        padding-top:8px !important;
        padding-bottom:8px !important;
        /*padding-left:18px !important;
        padding-right:20px !important;*/
    }
    /************************************************************************************
    CAROUSEL
    *************************************************************************************/
    #carousel-container{
        width:391px !important; /*height:136px !important;*/
        overflow:hidden;
    }
    #carousel-container ul li{
        width:617px !important; /*height:136px !important;*/
        overflow:hidden;
    }
    #carousel-container ul li img{
        /*margin-left:-113px;*/
    }
    /************************************************************************************
    MAIN
    *************************************************************************************/
    .field-type-text-with-summary, .field-type-text {
        img[style] {
            max-width: 50% !important;
            height: auto !important;
        }
    }
    /************************************************************************************
    DONATE BUTTONS
    *************************************************************************************/
    /*.donate-label-wrapper{

    }
    .donate-label-wrapper.selected{

    }
    .donate-label-wrapper input[type=radio]{
        margin:39px 0 0 10px !important;
    }
    .donate-label-wrapper .donate-radio-label{
        padding:34px 0 0 25px !important;
    }
    .donate-label-wrapper .donate-input-wrapper{
       left:45px !important;
    }
    .donate-label-wrapper .donate-input-wrapper input[type=text]{

    }
    .donate-label-support{}*/

}

@media screen and (max-width: $media-mobile-max){
    /************************************************************************************
    GENERAL STYLING
    *************************************************************************************/
    h1{
      font-size:1.5em;
    }
    h1.h-large,
    h2.h-large{
      font-size:1.5em;
    }
    h2{
      font-size:1.5em;
    }
    .pml{
        font-size:1em;
    }
    .pm{
        font-size:1em;
    }
    .mobile-left-align{
        text-align:left !important;
    }
    .mobile-breaker-10{
        margin-bottom:10px;
    }
    .extra-outer-gutter > .common-inner{
        background:none !important;
    }
    .extra-outer-gutter.mobile-reset-gutter > .common-inner{
        background:$white !important;
    }
    .extra-outer-gutter > .common-inner > .in-grid-item-wrapper{
        padding:10px 10px 1px 10px !important;
    }
    .mobile-pad-10-wrapper{
        padding:10px !important;
    }
    .mobile-pad-10-wrapper-horizontal{
        padding:0 10px !important;
    }
    .mobile-pad-10-wrapper-vertical{
        padding:10px 0 !important;
    }
    img.in-text-image{
        padding:0 0 10px 0 !important;
        float:left !important;
        width:100% !important;
    }
    .center-on-mobile{
        text-align:center;
    }
    /************************************************************************************
    HEADER
    *************************************************************************************/
    header{
        background:$white !important;
    }
    #header-logo{}
    #header-logo a{
        width:225px !important; height:53px !important;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -ms-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    #header-aux-links-mobile{
        margin:15px 0 10px !important;
    }
    #header-aux-links-mobile a{
        @include header-aux-links-a;
    }
    /************************************************************************************
    HEADER NAVIGATION
    *************************************************************************************/
    header nav{
        margin-bottom:4px !important;
    }
    header nav ul{
        font-size:1em !important;
        font-weight:1000;
    }
    /************************************************************************************
    FOOTER
    *************************************************************************************/
    footer .cta-buttons{
        margin-top:10px;
    }
    /************************************************************************************
    MAIN
    *************************************************************************************/


    .field-type-text-with-summary, .field-type-text {
        img {
            max-width: 100% !important;
            height: auto !important;
        }
    }
    /************************************************************************************
    CAROUSEL
    *************************************************************************************/
    #carousel-container{
        width:280px !important; height:136px !important;
        overflow:hidden;
    }
    #carousel-container ul li{
        width:280px !important; height:136px !important;
    }
    #carousel-support{
        height:auto !important;
        margin:0 !important;
        padding-right:-20px;
        background:none;
    }
    #carousel-support .common-inner{
        background: $white;

    }
    .carousel-support .common-inner {
        padding-top: 10px !important;
    }
    #carousel-pagination{
        position: relative !important;
        bottom:none !important;
        margin:10px 0 0 !important;
        padding:10px 0 10px !important;
        background:$white !important;
    }
    /************************************************************************************
    BUTTONS
    *************************************************************************************/
    #header-aux-donate-mobile .button-wrapper-green a{
        font-size:1em !important;
        white-space: nowrap;
        padding: 15px 98px;
    }
    .donation-grid .button-wrapper-green .btn-text{
        font-size:.85em !important;
    }
    .details-donation-form .button-wrapper-green .btn-text{
        font-size:.85em !important;
    }
    .details-donation-form .donation.large{
        padding-top:6px !important;
        padding-bottom:6px !important;
    }
    /************************************************************************************
    MEAN MENU
    *************************************************************************************/
    .mean-container .mean-bar{
        background:url(../images/header/background.png) left top repeat-x !important;
        min-height: 50px !important;
    }
    .mean-container .mean-nav{
        /*margin-top:9px !important;*/
        margin-top:0 !important;
        position:absolute !important;
        top:49px !important;
        background:#FFFFFF url(../images/header/main-shadow.png) left top repeat-x !important;
    }
    .mean-container .mean-nav ul{
        margin-top:10px !important;
    }
    .mean-container .mean-nav ul li a {
        font-weight:bold !important;
        padding-left: 20px !important;
        border:none !important;
        color: #ad3192 !important;
        &:hover{
            color: #61064d !important;
        }
    }
    .mean-container a.meanmenu-reveal {
        color: #444648 !important;
    }
    .mean-container .mean-nav ul li a:hover,
    .mean-container .mean-nav ul li.current_page_item a{
        background: none !important;
        color: #444648 !important;
    }
    .mean-container a.meanmenu-reveal span {
        background: #444648 !important;
    }
    #mobile-search{
        width:50% !important;
        margin:10px 0 0 16px !important;
    }
    #mobile-search .search-input{
        padding: 5px 0 6px 12px !important
    }
    #mobile-search .search-submit{
        width:2.2em !important;
        min-width:30px !important;
    }
     /************************************************************************************
    DONATE BUTTONS
    *************************************************************************************/
    .details-donation-form li.standard-radio-input.with-text-field .col-b textarea{
        width:236px !important;
    }
}
@media screen and (max-width: 767px) {

    .node-type-petermac-donate-simple {

        padding-top: 0 !important;
        .mean-bar {
            display: none;
        }

    }
}